[2019-02-27 11:01] Kennytian opened #1 "Can not find @react-native-community/cameraroll in npm"
Can not find @react-native-community/cameraroll in npm, please republish it.

[2019-02-28 01:39] cpojer commented on #1
This is currently still part of React Native, and we are working on migrating it.

[2019-02-28 01:39] #1 closed

[2019-03-16 08:54] bartolkaruza opened #4 "Failing Android detox tests"
The detox test on CI for Android are failing by timeout. There seems to be more going on than the release bundle not being created correctly as fixed by @matt-oakes in https://github.com/react-native-community/react-native-cameraroll/pull/3.

The app is installed correctly by the test command but is not started by the e2e test. The tests timeout because there is no app running.

If the app is star

[2019-03-16 18:44] dbarner1 opened #5 "iOS: Not returning all photos..."
Hi guys,

I'm finding CameraRoll only returns 142 of 483 photos on my device, when running a simple:

[code]

Some facts about my dev setup:
- I'm on RN .57.8.
- The app setup appears correct, as at least some photos return.
- I don't use iCloud, or any cloud solution.
- WhatsApp pictures show just fine.
- I have no other apps copying pictures to my library.
- I noticed this comment, from RN's Cam

[2019-03-16 18:48] dbarner1 commented on #5
I think it was done here?
https://github.com/facebook/react-native/commit/8ce9b476262e4b8d9fb3c44b759e1e6e248eb95c

[2019-03-16 20:12] dbarner1 commented on #5
Also, seems to only return photos when testing on a real device?  This wasn't the case with RN's Camera Roll.  Just wanted to make sure.

[2019-03-16 20:21] matt-oakes commented on #4
I've opened a draft pull request (#6) which starts to address the issues. Please feel free to pick if from where I have left off or I will continue to try when I have time.

[2019-03-18 10:52] pontusab opened #8 "Get user created albums"
Is it possible to get a user created albums? Or is it something that this library should support?

Expo has something called media-library: https://docs.expo.io/versions/latest/sdk/media-library/ with `getAlbumsAsync`.

That would be awesome to have.

Thanks!

[2019-03-18 15:24] dbarner1 opened #9 "Android builds failing?"
Here's my latest Android build from this morning.  Fails due to this reason:

[code]

[2019-03-18 15:28] dbarner1 commented on #9
Ah, ignore this. Setting `compileSdkVersion` on the parent `android/build.gradle` fixes this.

[2019-03-18 15:39] dbarner1 commented on #9
Actually, looks like even if compileSdkVersion is present on the parent project, line 18 in build.gradle fails:

[code]

[2019-03-19 12:27] cpojer opened #10 "Bug: providing an array for accessiblityActions crashes app"
* * *
  This issue was originally created by @karlsander as facebook/react-native#22891.
  * * *

  ## Environment
<details>
<summary> react-native info output </summary>

[code]

</details>

## Description
When trying to add custom VoiceOver accessibility actions as an array of strings for `accessibilityActions` prop, as introduced in 36ad8138997c195b8728906ceb51bd31338b6a24, the  the app crashes

[2019-03-19 12:27] cpojer opened #11 "CameraRoll.getPhotos Invalid filter option with assetType on iOS"
* * *
  This issue was originally created by @JulienUsson as facebook/react-native#23891.
  * * *

  ## 🐛 Bug Report

I have an `Invalid filter option: '(null)'. Expected one of 'photos','videos' or 'all'.` when i call `CameraRoll.getPhotos({ first: 1})` on iOS with rn 0.59. It works on Android.

`assetType` has not the `Photos` default value as wrote in https://facebook.github.io/react-native/doc

[2019-03-19 12:28] cpojer commented on #10
Oops, nevermind, I did the wrong thing.

[2019-03-19 12:28] #10 closed

[2019-03-19 12:38] cpojer opened #12 "CameraRoll doesn't return the extension of the uploaded file"
* * *
  This issue was originally created by @truongluong1314520 as facebook/react-native#24026.
  * * *

  ## 💥 Regression Report

CameraRoll doesn't return currently taken image and video.
CameraRoll returns type only specific `image` or `video`. How can I know the extension of the file? I really need that one.

## Last working version

CameraRoll returns currently taken image and video.
CameraR

[2019-03-19 12:39] cpojer opened #13 "SaveToCameraRoll crash app after permission is asked."
* * *
  This issue was originally created by @jonathangreco as facebook/react-native#23477.
  * * *

  ## 🐛 Bug Report
In a promise, after I download a film from an API, the film need to be saved into the camera roll.
But if this is the first time on the app, IOS will ask the permission to save the downloaded film into the camera roll.

we accept.

Then the screen have frozen. The app need to be r

[2019-03-19 12:39] cpojer opened #14 "device overheated by CameraRoll API with FlatList in iOS"
* * *
  This issue was originally created by @vreality64 as facebook/react-native#22393.
  * * *

  - [x] Review the documentation: https://facebook.github.io/react-native
  - [x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
[code]

## Description
If I shows

[2019-03-19 12:39] cpojer opened #15 "CameraRoll returns photos if assetType is equal to "Videos""
* * *
  This issue was originally created by @indapublic as facebook/react-native#22341.
  * * *

  - [ x] Review the documentation: https://facebook.github.io/react-native
  - [ x] Search for existing issues: https://github.com/facebook/react-native/issues
  - [ x] Use the latest React Native release: https://github.com/facebook/react-native/releases

## Environment
  React Native Environment Inf

[2019-03-19 12:54] cpojer opened #16 "CameraRoll.saveToCameraRoll saves animated gif as static images"
* * *
  This issue was originally created by @mferranti as facebook/react-native#16223.
  * * *

### Is this a bug report?

yes

### Have you read the [Contributing Guidelines](https://facebook.github.io/react-native/docs/contributing.html)?

Yes
### Environment

  Environment:
    OS:  macOS Sierra 10.12.6
    Node:  8.4.0
    Yarn:  Not Found
    npm:  5.3.0
    Watchman:  4.5.0
    Xcode:  Xcod

[2019-03-20 01:44] truongluong1314520 commented on #12
Hi @cpojer , will react-native-community be responsible for CameraRoll now like NetInfo and AsyncStorage? Please let me know so I can post the issues in correct place and you don't have to spend time moving the issues 😃

[2019-03-20 03:07] StevenMasini commented on #16
Just adding the link

https://github.com/facebook/react-native/issues/16117)

[2019-03-20 08:00] cpojer commented on #12
@truongluong1314520 yes!

[2019-03-21 14:27] erandagan commented on #16
The bug is caused by the camera roll manager loading the input URI into a UIImage [here.](https://github.com/react-native-community/react-native-cameraroll/blob/9540b013d34356b53f4c6346575eefc41794bbc3/ios/RNCCameraRollManager.m#L139)

Calling [`creationRequestForAssetFromImageAtFileURL`](https://developer.apple.com/documentation/photokit/phassetchangerequest/1624059-creationrequestforassetfromima

[2019-03-24 13:21] bartolkaruza commented on #8
Hi @pontusab that's not yet possible, but definitely something that is within scope for this module!

[2019-03-24 13:31] bartolkaruza commented on #13
@jonathangreco Can you post a stacktrace of your crash (native from Xcode)? This could be related to the wrong input data going into the ```CameraRoll.saveToCameraRoll``` and the stacktrace will perhaps help us find the reason for this issue.

[2019-03-24 13:37] bartolkaruza commented on #12
@truongluong1314520 I'm seeing two separate issues here; 1) the image information has changed and 2) the returned image is not the latest added image to cameraroll. Could you help us out by opening another separate issue for 2), so we can keep this issue report focused on 1) ?

With regards to the image meta info, did that change between 0.57.4 and 0.59.1 or just the return of the recently added o

[2019-03-24 13:38] bartolkaruza commented on #11
Fixed in https://github.com/react-native-community/react-native-cameraroll/commit/0d1059ef75889103382c26e2cc18b32c393943e0, which will be resolved in the very next release. Thanks for reporting!

[2019-03-24 13:38] #11 closed

[2019-03-24 13:44] bartolkaruza commented on #5
Thanks for reporting! We're syncing up any changes that happen on RN Core to this library, so the fix you mention will be manually synched over (by me, as soon as I get around to it). I'll update this issue as soon as that is done and a new release of cameraroll is published.

All functionality should be the same between the old React Native cameraroll and the new library. If you still experience

[2019-03-24 13:46] bartolkaruza commented on #4
I'm going to turn off the Android UI tests in Circle until we resolve this, so that other fixes can make it out to releases in the mean time. This one is on my list which keeps growing at the top :D

[2019-03-24 14:24] pontusab commented on #8
@bartolkaruza Agree! I think that expo has a lot of good features in their media library 👍

[2019-03-24 16:30] dbarner1 commented on #5
Thanks @bartolkaruza! Looking forward to it. Thanks for the work here!

[2019-03-25 03:15] sxqnicholas96 commented on #4
Hi @bartolkaruza, may I know how have you managed to get detox tests up and running on Android emulators in circleci? I've been working on this and did not have much luck

[2019-03-26 12:48] BenJeau opened #18 "Camera Roll not returning any photos on iOS"
I reported this bug in the react-native repo here at [facebook/react-native#24140](https://github.com/facebook/react-native/issues/24140) , but they said to post it here.

## 🐛 Bug Report
When fetching photos from the Camera Roll on **iOS** by calling `CameraRoll.getPhotos()`, it always return an empty array of edges in the data. This problem is not present when I run it on Android nor in a Snack.

[2019-03-26 15:10] FrikkieSnyman commented on #9
I have the same thing. Tried all releases, none of them build

[2019-03-27 15:58] bartolkaruza commented on #4
@sxqnicholas96 I didn't yet unfortunately, I'll post here with a solution when we get it to work

[2019-03-27 17:17] bartolkaruza commented on #18
Thanks for reporting! I confirmed that there is a different set coming back, between older version of CameraRoll and the latest from RN core and the latest from RNC. There are images coming back for my device though, but it is a different set so I'm looking into this at priority.

I suspect it has something to do with one of the last fixes synched over from react native core https://github.com/rea

[2019-03-27 17:34] JoshuaGross commented on #18
Hi @bartolkaruza - bc557cf mentions that if `PHAssetCollectionSubtypeAny` is used, `CameraRoll.getPhotos` never gets to the end of the list of photos: no matter how far you paginate, there are always more photos, and it starts looping (we see the same IDs repeatedly). I'm not entirely sure why there was an infinite loop, though. Switching to `PHAssetCollectionSubtypeSmartAlbumUserLibrary` solved t

[2019-03-27 17:37] JoshuaGross commented on #18
In my testing it wasn't entirely obvious to me that it's *possible* for us to return the *exact* same set of photos as in the past (between `PHAssetLibrary` and `ALAssetLibrary`, a lot changed). But I don't understand what would cause *no* data to be returned and I've never seen that in our many uses within Facebook, so any more information to reproduce would be helpful.

[2019-03-28 13:10] BenJeau commented on #18
What kind of information would be useful to reproduce the problem, apart from the info from the initial post? If you guys can't reproduce it, I suppose it's a problem on my end, would you have any suggestion if it comes to that? (I've already cleared the cache of npm and yarn)

[2019-03-28 15:28] joseguerrerov commented on #5
@dbarner1 this work for me:
[code]
But I couldn't found a way to play videos from the camera roll ? any idea @bartolkaruza

[2019-03-28 19:25] dbarner1 commented on #5
@joseguerrerov That's not what I'm after here.

Basically, agreed, the call works, but the call isn't returning *all* images on my device.

Say you have 400 images on your device, and you call with first: 2000, it isn't returning all 400 for me.

[2019-03-28 22:55] ethanyuwang opened #19 "Getting permission denied error on Android after I have inlcuded permissions in AndroidManifest.xml"
I have already included the following permissions in my `AndroidManifest.xml`:

[code]

However after I call `CameraRoll.saveToCameraRoll(Platform.OS === 'ios' ? this.props.imageItem.url : this.state.imageUri);` I'm still getting the following permission error:
[code]

[2019-03-29 19:37] matt-oakes commented on #4
I've just fixed this on my local machine and pushed the changes into PR #6. CircleCI needs to be configured to run the jobs for my forked PR though to test that it's working there.

[2019-03-29 21:37] scarlac commented on #18
@JoshuaGross After reverting that linked change I still get no photos at all. No errors, no warnings, no photos. Do we have any other clues as to where to look for a workaround? I have an app that I want to upgrade to v0.59 but I can't because of this issue.

[2019-03-29 21:44] airlaser opened #20 "ALAssetsLibrary URIs crash on certain devices"
Still working to determine if it's model or device specific.

Using react's default `Image` tag, providing a URI crashes the app (causes an exception at the obj-c side, not a JS crash). The same code works fine on other devices.

On these devices the images simply do not display unless `CameraRoll` is installed. After `CameraRoll` is installed the images display, then the app immediately freezes a

[2019-03-29 22:25] skyforeverGE commented on #20
Right now, based on API getPhotos, the uri is kind of 'ph://', which cannot be handled by most of 3rd party fetch-blob lib, always give me something like 'the file doesn't exist' or 'there is no such file'; there only have content-type info but no size, filename, ... (other info) even though using the js fetch. anyone has any idea or solution about it?
(P.S: For example, need react-native-fetch-bl

[2019-03-29 23:05] scarlac commented on #18
**Found solution:**
After poking around in the native code - RN 0.59.0 contains a breaking change:
You are now required to supply the `groupTypes: "All"` option when calling `getPhotos` like so:
[code]
If you omit `groupTypes`, a predicate (filter) will be applied such that no photos will be returned in some cases. It's possible this filter will show some photos but not all. This issue applies to

[2019-03-29 23:42] JoshuaGross commented on #18
@BenJeau Does @scarlac's suggestion solve the problem for you?

@scarlac I would prefer a documentation change if it's a documentation problem. I have a concern that changing the default to `all` will fix the case where you want all photos, and break cases where you might want to filter to specific photos.

For what it's worth, this is the code in iOS that uses the flag. It may be worth revisiting

[2019-03-29 23:55] scarlac commented on #18
@JoshuaGross I'd be fine with a docs fix.

Current code example in `README.md` do not include this options (see https://github.com/react-native-community/react-native-cameraroll#example). I also see Expo snacks around the web not using this property, so we're almost guaranteed to have people fumbling for answers. If it's truly breaking, I think it deserves a proper mention.

[2019-03-30 00:01] BenJeau commented on #18
@JoshuaGross Yep, that fixes my problem! Thanks @scarlac

[2019-03-30 00:09] JoshuaGross commented on #18
@scarlac I changed my mind, I think it's worthwhile changing the default in this case, I'll just need to test a lot of things on my end to ensure nothing breaks at FB. Would you mind submitting a PR? Might be worthwhile submitting followup documentation changes to indicate that "all" is the default for that param.

[2019-03-30 00:14] scarlac commented on #18
Sounds good! I'll have a look on Monday, @JoshuaGross

[2019-03-30 00:14] BenJeau commented on #18
@JoshuaGross and now there are some duplicate (since it returns every album), but when I put the groupName param to filter out the photo to only be from the 'Camera Roll' or 'Recently Added', no images are returned even though when this param is not specified, the images have either the 'Camera Roll' or 'Recently Added' value for group_name

[2019-03-30 00:18] JoshuaGross commented on #18
@BenJeau does `SavedPhotos` work any better for you?

[2019-03-30 00:20] BenJeau commented on #18
@JoshuaGross when I put `SavedPhotos`, no images are returned, weird

[2019-03-30 00:30] JoshuaGross commented on #18
That's unfortunate. We'll need to dig into it more then - I'll see if I can do that Monday as well.

[2019-03-30 00:37] BenJeau commented on #18
@JoshuaGross Sounds good, thank you. For now, I'll just filter the data after `CameraRoll.getPhotos()` gets called

[2019-03-30 00:43] BenJeau commented on #18
Actually nevermind, the duplication stopped happening after rebuilding the project a couple of times without the `groupName` param and with`groupTypes: 'All'`

[2019-03-31 15:14] bartolkaruza commented on #18
@JoshuaGross did you see this commit on the RNC repo (that's not on RN core) ? https://github.com/react-native-community/react-native-cameraroll/commit/0d1059ef75889103382c26e2cc18b32c393943e0

It basically sets all as default on JS side.

[2019-04-01 14:27] truongluong1314520 opened #22 "Camera roll does not return the currently taken picture"
## 💥 Regression Report

CameraRoll doesn't return currently taken image and video.

## Last working version

CameraRoll returns currently taken image and video.

Worked up to version:

Worked version is 0.57.4

Stopped working in version:

React native version 0.59.1

## To Reproduce

1/ Use `react-native-image-picker` to launch default camera and take a picture
2/ Use CameraRoll to load 1 image a

[2019-04-01 14:29] truongluong1314520 commented on #12
Hi @bartolkaruza , sorry for the late reply. I created the issue, please take a look.

[2019-04-01 18:26] scarlac opened #23 "Fails to build/install/test on XCode 10.2"
When using XCode 10.2 project cannot be built or tested due to a bug in Detox which fails to build Detox itself. Attempting to do so will generate the error:
[code]
and
[code]

A fix was released 6 days ago:
https://github.com/wix/Detox/issues/1229

The upcoming PR for #18 will also fix this issue. This issue is created  for any lost souls that may be googling for an answer.

[2019-04-01 21:00] scarlac commented on #18
@JoshuaGross PR up. Let me know what tweaks you want, if any.

[2019-04-02 18:16] #20 closed

[2019-04-03 09:53] mayankmittal242 opened #25 "How to get name of image in ios"
I am  getting file uri which is not acceptable by any other node module which can give me metadata or file name

[2019-04-04 11:08] remigijusbalc commented on #25
Go to RCTCameraRollManager.m file in project directory, there add @"name" property, as shown in screenshot
![Screenshot 2019-04-04 at 14 07 32](https://user-images.githubusercontent.com/32093119/55551261-0b614600-56e3-11e9-84d0-2db78a5e0326.png)

[2019-04-04 17:55] joseguerrerov opened #27 "iOS: Order when request assetType:All is incorrect"
## 🐛 Bug Report

When calling `CameraRoll.getPhotos()` in iOS with `assetType: 'All'` in the params the returned array is not ordered as if you are calling it with `assetType: 'Photo' // or Video`. When you call the function with assetType: All the assets are ordered with the oldest first. But if you call it with Photo or Video they are ordered with the most recent first (desired one)
### Using `a

[2019-04-04 18:02] joseguerrerov commented on #27
It seems the __issue__ is here:
https://github.com/react-native-community/react-native-cameraroll/blob/132af3166da29e9236f80da5367ce06b23b00a89/ios/RNCCameraRollManager.m#L64
If the default return is:
[code]
then it can be sort here:
https://github.com/react-native-community/react-native-cameraroll/blob/132af3166da29e9236f80da5367ce06b23b00a89/ios/RNCCameraRollManager.m#L204

I've create a __PR__

[2019-04-06 09:07] #4 closed

[2019-04-06 09:28] bartolkaruza commented on #25
This PR will resolve this feature request: https://github.com/react-native-community/react-native-cameraroll/pull/30

[2019-04-06 09:37] #27 closed

[2019-04-06 10:22] bartolkaruza commented on #5
@joseguerrerov https://github.com/react-native-community/react-native-cameraroll/issues/15 could be related to what you are facing

@dbarner1 could this issue be related to the 'SavedPhotos' default as mentioned in this [issue](https://github.com/react-native-community/react-native-cameraroll/issues/18) and fixed by this [pr](https://github.com/react-native-community/react-native-cameraroll/pull/2

[2019-04-06 23:38] joseguerrerov commented on #15
@indapublic first, the error is very weird, can you try using `assetType: All` just to check it returns any video. Second, It seems you're on __0.57.5__ and in that version the iOS cameraRoll implementation was using `ALAssetsLibrary`(deprecated) and now the __react-native-community/react-native-cameraRoll__ and the latest __CameraRoll__ from __0.59__ uses `PhotoKit`.

Using the latest release fro

[2019-04-06 23:51] joseguerrerov commented on #22
👋 @truongluong1314520 so assuming you are just launching the camera and taking a picture with `react-native-image-picker` theres no need to even use the __CameraRoll__.
So you can do something like this to get the picture
[code]
And the you can use it in the `Image` component like this:
[code]
You can find more in the react-native-image-picker [README](https://github.com/react-native-community/rea

[2019-04-07 00:02] joseguerrerov commented on #19
@ethanyuwang the thing is that you have to explicitly ask for the permission. Adding them to the manifest is just a way to list all the permission you're going to be asking inside the app.

You can solve this easily with something like this:
[code]

Hope it helps 😸

[2019-04-07 00:06] joseguerrerov commented on #19
@ethanyuwang also if you can check what the actual error is that could tell you whats wrong.
[code]

[2019-04-08 02:21] truongluong1314520 commented on #22
Thank you for your suggestion. I will change the logic of the app to see if it is available 😄

[2019-04-08 15:16] mmmulani opened #33 "[Android] [Samsung Galaxy] Rotated image always shows up as landscape"
When using `CameraRoll.getPhotos` for a photo taken in portrait mode on a Galaxy S9, you get a larger width than height (i.e. a landscape photo). From searching around, it seems like this is a known issue: https://stackoverflow.com/questions/47261434/photo-rotated-from-camera-samsung-device but can be solved by looking at the EXIF data.

[2019-04-08 15:57] issacnitin commented on #11
I've also faced the issue, when would the next version be released?

[2019-04-08 20:08] bartolkaruza commented on #33
Hi and thank you for reporting! There appears to be some uncertainty about the accepted answer solving all device/os version combinations. What version of Android are you running on your S9? Are you able to reproduce this consistently?

[2019-04-08 20:20] bartolkaruza opened #34 "CI issues"
[Android build](https://circleci.com/gh/react-native-community/react-native-cameraroll/150) is failing on master with the following error:
[code]

[iOS build] is failing on master with the following error:
[code]

[2019-04-09 07:13] FrikkieSnyman commented on #9
PR to fix this is here: https://github.com/react-native-community/react-native-cameraroll/pull/35

[2019-04-09 10:42] remigijusbalc opened #36 "getPhotos return old photos and path is wrong"
**OLD PHOTOS BUG**: On iOS I set assetType "All", because otherwise it returns 2 photos or none and I get old photos first. On previous versions it returned the newest photos.
**PATH BUG**: I can't get file size based on new uri bucause RNFetchblob returns that file doesn't exist. On previous version everything worked ok

[2019-04-09 20:37] mmmulani commented on #33
oh actually it's happening on a Samsung S8, model number: SM-G950U. I'm relaying the bug report for a colleague, so I'll try to find out what version of Android they're using

[2019-04-10 08:22] assaqqaf commented on #15
@joseguerrerov  The new URI schema returned by `PhotoKit` (e.g: ph://....). Cause A problem with Image component.

```<Image source={{ uri: 'ph://fsdE.....' }} />```

Any idea of how to handle this situation?

[2019-04-10 21:30] joseguerrerov commented on #15
@assaqqaf which version of RN ?, can you run `react-native info` On `0.59 >` Im not having issues.

[2019-04-10 21:37] joseguerrerov commented on #36
@remigijusbalc can you please share some additional info:

__Output of react-native info__
__Code Samples__

This might be related to this one https://github.com/react-native-community/react-native-cameraroll/pull/28

But it seems the latest release didn't include this.

[2019-04-11 02:15] assaqqaf commented on #15
@joseguerrerov Thank you for a response. Actually, it happens with video.

`react-native info` output:
[code]

Example code:
[code]

Before `PhotoKit` the above code was working. But now it triggers an error.

<img width="898" alt="Screenshot 2019-04-11 at 10 14 06 AM" src="https://user-images.githubusercontent.com/1142577/55926108-a063c200-5c42-11e9-978d-4e23c41f6929.png">

[2019-04-11 18:06] #9 closed

[2019-04-11 18:18] bartolkaruza commented on #34
#38 fixes the android issue

[2019-04-14 08:52] #18 closed

[2019-04-14 08:52] #23 closed

[2019-04-14 09:29] bartolkaruza commented on #4
just linking, there are still lingering issues: https://github.com/react-native-community/react-native-cameraroll/issues/34

[2019-04-16 00:59] dbarner1 commented on #5
@bartolkaruza This likely fixes it! Will likely have time to confirm this in the coming weeks, but feel free to close this issue in the meantime.  I'll open if still an issue in the future, if works.

@scarlac cheers on the fix!

[2019-04-16 01:56] scarlac commented on #5
Does seem like the issue yes. Original report said no photos returned. But you may get a limited amount of photos instead. I think it’s fair to say this is a dupe and is fixed by now, to be released.

[2019-04-16 13:33] rpss2 opened #41 "I don't get any photos when use groupName for specfic album"
I'm use CameraRoll component for get photos by albums, but any photo returned.

[2019-04-16 14:07] rpss2 commented on #27
Hi, @joseguerrerov. Can I get this ImageComposer component? Thanks.

[2019-04-17 23:30] joseguerrerov commented on #27
@rpss2 what do you mean with ImageComposer ?

[2019-04-18 02:16] assaqqaf opened #42 "CFRelease(NULL) crash, with Video"
The new URI schema returned by PhotoKit (e.g: ph://....). Cause A problem with Image component for a video URI.

`<Image source={{ uri: 'ph://fsdE.....' }} />`

`react-native info` output:
[code]

Example code:
[code]

Before `PhotoKit` the above code was working. But now it triggers an error.

<img width="898" alt="Screenshot 2019-04-11 at 10 14 06 AM" src="https://user-images.githubusercontent.c

[2019-04-18 22:29] rpss2 commented on #27
@joseguerrerov, this screen when selected image, where possible edit image, zoom and crop, etc.

[2019-04-19 04:00] truongluong1314520 commented on #12
Hi @cpojer and @bartolkaruza , I am still getting stuck at the media extension. The Camera Roll return image link like this:

    ph://99D53A1F-FEEF-40E1-8BB3-7DD55A43C8B7/L0/001

There is no media extension. Do you have any work around for this? I really need the file extension to work with it later on server

[2019-04-19 12:42] Steffi3rd opened #44 "Cannot read property 'getPhotos' of undefined"
Hi,

I just installed this package using **Mostly automatic installation**.

I did :
1 / `yarn add @react-native-community/cameraroll`
2 / `react-native link @react-native-community/cameraroll`

[code]

3 / In my RN app, I use the sample example

[code]
<img width="476" alt="Capture d’écran 2019-04-19 à 14 41 44" src="https://user-images.githubusercontent.com/814410/56424598-46ea3b80-62b1-11e9-9

[2019-04-22 18:34] bartolkaruza commented on #41
Hi there, thanks for reporting. Could you provide a minimal reproduction so we can have a look at this issue?

[2019-04-22 18:36] bartolkaruza commented on #19
@ethanyuwang looks like @joseguerrerov has some great solutions for your issue. I'm closing this issue based on the assumption that you are able to resolve the issue by asking for permissions explicitly, let me know if this is not a case and someone will have a look.

[2019-04-22 18:36] #19 closed

[2019-04-22 18:39] bartolkaruza commented on #22
@truongluong1314520 it looks like there is a good workaround, let me know if you think there is still an actual bug. I think the image inside the CameraRoll is stored async when taking a picture and you don't know when it's there exactly, so the approach of using the ImagePicker looks like a much better approach to me.

[2019-04-22 18:39] #22 closed

[2019-04-22 18:40] #42 closed

[2019-04-22 18:49] bartolkaruza commented on #44
Hi there, thanks for reporting. I just ran the same commands on a fresh `react-native init` project and the issue is not reproducible. Can you post more details about your xcode project, Podfile (if you have one) and post the output of `react-native info`?

I suspect some local modification is causing issue with linking, so as a short cut to all of the above, please check if all the steps from man

[2019-04-22 19:21] bartolkaruza commented on #36
You are right, we are migrating this repo to semantic release, so that every merged fix gets out there. It should be done by the end of the week, including every fix since 1.0.3.

[2019-04-22 23:36] rpss2 commented on #41
Basically, I pass album name to groupName prop, e. g. "Recent Photos", and zero photos is returned. But, when I remove this prop, the photos is returned.

[2019-04-23 02:29] scarlac opened #45 "iOS: Sort order unexpected"
When attempting to request all photos, photos are returned sorted by collection, instead of being a complete list. This makes it difficult to help users pick their most recent photos taken.
Example:
[code]
Will return the 20 latest photos as expected, in the simulator. However, on a real device this may or may not return the most recent 20 photos, as it'll sort the Collections by "end date" which

[2019-04-23 06:30] bartolkaruza commented on #13
These are required, otherwise you end up in the `catch` case, which is unhandled and causing the freeze. I'm closing this for now, let me know if my interpretation is wrong.

[2019-04-23 06:30] #13 closed

[2019-04-23 06:40] bartolkaruza commented on #45
Looking at our implementation and the Apple docs I think you are right about the wrong handling of group_type "all"; it should be retrieving assets ungrouped by PHAssetCollection, which it doesn't do right now. Your proposed solution looks like the way to go to me.

@JoshuaGross any input from FB?

[2019-04-23 06:42] bartolkaruza commented on #25
Some work has been done to implement this on #30 but we could really use help on finishing that PR (Finish the JS side and implement the same functionality for Android). Let me know if you want to help.

[2019-04-23 06:43] JoshuaGross commented on #45
That sounds like the right approach to me! I think it will solve a lot of the problems we’ve seen on our end, too.

[2019-04-23 06:44] bartolkaruza commented on #34
temporarily resolved by #40 (by turning off the native builds). We should look at resolving the iOS issue still as part of re-enabling e2e on CI.

[2019-04-23 06:44] #34 closed

[2019-04-23 07:14] jonathangreco commented on #13
My formulation was probably wrong, I meant that you should not have granted those permission yet, and let react native ask you those related permissions when you are about to sdtore a downloaded media into your gallery.

[2019-04-23 16:15] scarlac commented on #45
In case someone stumbles upon this issue, the current workaround I found was to massively over-fetch and sort manually in JS (untested code adapted from own codebase, so please adjust as necessary):
[code]

I'll see if I can submit a PR today or tomorrow. Otherwise, anyone should feel free to implement this.

[2019-04-23 23:14] scarlac commented on #45
@bartolkaruza, @JoshuaGross, let me know what you think 🙈

[2019-04-24 07:58] LuongTruong opened #47 "Load 20 images per time will lost some images"
Hi everyone, I am using CameraRoll to implement the image Gallery and there is a bug

Bug details
========

I load 20 images first, after user scroll down to bottom, another 20 images load. This thing is:
- I have total 201 images.
- If I load 1000000 images, I can get all 201 images.
- If I load 20 or 10 images per time, I only receive 190+ images.

To Reproduce
==========

I create a repo so tha

[2019-04-24 08:03] truongluong1314520 commented on #12
Hi guys, I have a work around, the returned extension is not pretty but it is useable:

From the file `RNCCameraRollManager.m`, we add these 2 lines

<img width="1027" alt="Screen Shot 2019-04-24 at 3 00 45 PM" src="https://user-images.githubusercontent.com/32918401/56642591-fc4a3400-66a1-11e9-80d9-6defdc13dece.png">

and

<img width="670" alt="Screen Shot 2019-04-24 at 3 03 21 PM" src="https://us

[2019-04-27 06:03] ramon90 commented on #45
Thanks scarlac for the workaround.

[2019-04-27 06:08] ramon90 commented on #45
But this causes it loop around if there is less than 2000 images, also that results in duplicate keys.

[2019-04-27 06:14] scarlac commented on #45
@ramon90 it does yes. That’s another bug I chose to omit from here. You’ll need to remove the duplicates as well. Run result through “uniqBy” on the node image url from lodash or similar.

[2019-04-27 17:08] ramon90 commented on #42
Yes, I have the same issue, after some research I found that the app crashes because that uri is a uri for an image (the video's thumbnail) not a video, but unfortunately so far I did not find a fix.

[2019-04-27 17:10] ramon90 opened #49 "App crashes on iOS for local video uri"
The uri returned for video is uri for the video's thumbnail not the video itself, and as a result the app freezes/crashes.

[2019-04-28 06:36] ramon90 commented on #49
A solution that I found is to use react-native-gallery-manager, it returns AVAsset uri for videos instead of unplayable PHAsset uri returned by react-native-cameraroll

[2019-04-30 08:27] bartolkaruza commented on #49
Thanks for reporting, we'll have a look!

[2019-04-30 08:32] bartolkaruza commented on #47
Thanks for the clear report, we'll have a look at this!

[2019-04-30 12:27] abdulbasit1248 opened #51 "How to save remote videos in iOS"
As this package only working for saving remote pictures in iOS but in case to save remote videos to iPhone, app crashes or get stuck.For this problem the solution is implemented with demo video url's.
You have to write native code in swift for iOS case and then communicate between Native and JS which is very simple and implemented as .#50

[2019-05-01 16:42] dorthwein commented on #11
Incase someone else runs into this after updating to RN 59 adding these 2 parameters resolved the issue for me.

<code>
CameraRoll.getPhotos({
    first: 20,
    assetType: "Photos",
    groupTypes: "All"
})
</code>

[2019-05-02 06:50] LuongTruong opened #52 "iOS - returned uri cannot be used for upload image to server"
Bug details
========

I am using the returned `uri` from CameraRoll as a path to upload image to server, but the image cannot be upload. Below is an example of image `uri`

    ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001

To Reproduce
==========

[RN Fetch Blob](https://github.com/joltup/rn-fetch-blob) is used for making upload request.

    RNFetchBlob.fetch("PUT", url, { <== url: is the pat

[2019-05-02 09:12] truongluong1314520 commented on #52
Hi guys, I found a way to convert the PHAsset link to use able link:

[Convert PHAsset to assets-library](https://github.com/ivpusic/react-native-image-crop-picker/issues/384#issuecomment-317628146)

I don't know if this is the correct way. Please feel free to close this issue if it is.

[2019-05-02 16:52] emilemoureau commented on #49
I got the same error! RN 0.59.3 and iOS 12.2!

[2019-05-07 00:43] rpss2 commented on #41
Hi, has anyone solved this problem?

[2019-05-07 06:35] assaqqaf commented on #52
I have the same issue, however, the suggested solution to convert PHAsset to assets-library is not stable.

Any other solution to this problem?

[2019-05-07 19:44] #45 closed

[2019-05-09 07:57] bartolkaruza commented on #5
I think this should now be resolve in 1.0.4. Could you check @dbarner1 and close if it is fixed please?

[2019-05-10 08:41] JulienUsson opened #56 "ANDROID: GetPhotos doesn't work because of groupTypes"
Hello,

The lib doesn't work on Android because GroupType default value is set here in JS https://github.com/react-native-community/react-native-cameraroll/blob/1e37b294269eeb7175a9d952619fb22c4d70821d/js/CameraRoll.js#L167
but in Android if there is the groupType params a exception is thrown
https://github.com/react-native-community/react-native-cameraroll/blob/1e37b294269eeb7175a9d952619fb22c4d7

[2019-05-13 09:27] bartolkaruza commented on #56
Hi thanks for reporting, I'm trying to reproduce on my side. For some reason it is not yet happening on the tester project and I'm looking into why this is.

[2019-05-13 18:07] bartolkaruza commented on #56
@JulienUsson I would have welcomed your PR (and will very much welcome them in the future). I needed to figure out how this bug entered the release in the first place, as it should have failed in one of tests before making it to npm. Feel free to comment on #57 for now.

[2019-05-13 18:44] #56 closed

[2019-05-19 19:10] MiLeung commented on #44
After installing and linking, quitting the simulator and running `react-native run-ios` worked for me.

[2019-05-20 06:44] tomonakar commented on #44
I had the same Issue.
`react-native link @react-native-community/cameraroll` didn't work for me.
`Manual installation` worked for me.

[2019-05-20 07:44] bartolkaruza commented on #44
@MiLeung @tomonakar Could you give me more context about what exactly 'didn't work'? Which part of the manual installation was not in place after the auto linking? What was the output of react-native link?

I'm not able to reproduce still.

[2019-05-20 07:45] bartolkaruza commented on #5
closing as fixed, just comment if this is still an issue and reopen.

[2019-05-20 07:45] #5 closed

[2019-05-20 16:17] tomonakar commented on #44
@bartolkaruza
Manual installation was worked for me.

I'm sorry for the misunderstanding.
My weak point is English...

[2019-05-20 16:58] JoshuaGross commented on #52
How does upload fail exactly? Does it throw some exception, or upload the wrong thing? #58 may resolve this issue but I'm not entirely sure what problem you're having just from the description here.

[2019-05-20 20:21] scarlac opened #59 "deletePhotos() incompatible with getPhotos"
**Summary**
The semi-undocumented iOS-only function `deletePhotos()` uses the old ALAsset API. Using the function per code specification will cause no errors **and** will not actually delete the photos.
`deletePhotos()` expects `assets-library://` URIs but `getPhotos` produces `ph://` URIs.

**Example:**
[code]
This code will always succeed and resolve with `true` even on other devices than mine.

[2019-05-20 20:27] scarlac commented on #59
For the lost souls searching for a workaround:
[code]
where:
[code]

[2019-05-20 21:51] MiLeung commented on #44
I used `react-native link`. I think something wrong was cached.

[2019-05-21 02:25] truongluong1314520 commented on #47
Hi @bartolkaruza, is there any news for this issue?

[2019-05-30 01:03] truongluong1314520 commented on #12
Hi @cpojer , can you please close this issue. Thank you 😃

[2019-05-30 11:39] ruipneves commented on #41
I am also experiencing this issue.
I can only get photos when the `groupType` is `All`. If I try to pass `Album` and get `groupNname: 'Recent Photos'` I get no images at all.

I am using `react-native 0.59.2`

[2019-05-31 11:25] EmilScherdin commented on #45
Had some issues with this as well. Seems like this is still broken when trying to get both videos and photos, at least that's what I get. I does work as expected when setting `assetType: 'photos'`. However, I'm not sure what fails when loading the videos as well.

[2019-06-07 13:52] jonathangreco commented on #49
@bartolkaruza Hi,
Did you take a look ? Because PHAsset are just not compatible with any library like RNFS / Fetch BLOB or so, we just can't use this simply. Is it possible to bring back some assets-library path ?

[2019-06-13 06:11] bartolkaruza commented on #59
Hi there, thanks for reporting this! Your rationale for pushing for a fix for this makes sense to me and I think cameraroll should support this functionality, but considering deletePhotos is not currently working/documented (or before this issue known to me 😊 ) we should tackle it as a new feature request. I'm very interested in reviewing and helping with a PR for the above!

[2019-06-13 06:17] bartolkaruza commented on #49
@jonathangreco I'm struggling to find the time to implement bigger changes like that one. In the mean time, have you seen the workaround for #52 here: https://github.com/react-native-community/react-native-cameraroll/issues/52#issuecomment-488601591

I think implementing a conversion by default inside Cameraroll would be the way to go.

[2019-06-13 06:17] bartolkaruza commented on #51
duplicate of #49

[2019-06-13 06:17] #51 closed

[2019-06-13 08:12] jonathangreco commented on #49
@bartolkaruza Yes I've implemented it. Sure it works but for how long ? Some people find that not stable, me too.

[2019-06-13 14:47] JordanProtin opened #62 "Latest release failed on xcode"
# Bug

Release v1.1.0 failed when I want to build my app on xcode

Xcode info output:

<img width="277" alt="Capture d’écran 2019-06-13 à 15 54 28" src="https://user-images.githubusercontent.com/35328504/59442622-d9fba980-8dfa-11e9-965f-114eef94a277.png">

## Environment info

xcode v10.2.1
react-native v0.57.7

[2019-06-13 19:11] scarlac commented on #59
@bartolkaruza Sounds fair 👍  I'll start working on a fix when I get some time.
If anyone should happen to stumble upon this ticket meanwhile, ping me to see if I've made progress.

[2019-06-13 19:35] tylergaw commented on #62
Just installed `1.1.0` and ran into the same error on build. The use of `RCTNetworkingPHUploadHackScheme` was added as a fix in https://github.com/react-native-community/react-native-cameraroll/pull/58

### Environment info
- xcode 10.2.1
- react-native 0.59.5

[2019-06-13 19:57] tylergaw commented on #62
Dug in a bit further here. `RCTNetworkingPHUploadHackScheme` is in `master` but looks like it is only available in `0.60` releases of `react-native`.

It was added in this commit:
https://github.com/facebook/react-native/commit/458e70c79d3e12b5ad017d17ccea2fd62c1c3781

That means it's not available in the latest stable release `0.59.9` Here's RCTNetworking in that version of RN https://github.com/

[2019-06-18 15:30] bartolkaruza commented on #62
Sorry about this guys, I've fixed this by moving the string constant to a local variable in this [pr](#63). This makes that particular change independent of RN version. Let me know if something is still not working; the detail level of info provided in this issue made it easy for me to provide the fix quickly.

[2019-06-18 15:32] #62 closed

[2019-06-18 15:34] bartolkaruza commented on #62
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-06-18 15:39] tylergaw commented on #62
Awesome, thank you @bartolkaruza I'll give this version a try soon

[2019-06-20 06:02] nihp opened #64 "How to fetch and show all photos in CameraRoll"
I need to fetch all images in Library and show it in flatlist.

I have given it by fetch count as 20. But the last images are not rendered in UI.

How can I fetch all images in library using camera roll.

[2019-06-21 10:48] pisacode commented on #52
Here is a litte code turn uri to old format

[code]

[2019-06-21 22:41] albullington commented on #41
I'm experiencing the same, using this code:

[code]

The results I'm seeing from results.edges all have a group_name of "All Photos," so it looks like the groupName parameter isn't being used to filter at all.

I've also tried groupTypes: "Album." I can get images from random albums like "WhatsApp", "Boomerang," and "Instagram" but I can't seem to access the built-in iOS albums like Favorites that

[2019-06-24 09:48] gbxnga commented on #15
I'm haveing the same problem. uri was starting with `file://`, now it returns `ph://` which causes an error in my code

[2019-06-24 10:06] reyalpsirc opened #65 "Support the save of images to an album"
# Feature Request

Add possibility to save an image to a specific album on Camera Roll

## Why it is needed

Since there's a possibility to retrieve the pictures of an user in an Album, it should also be possible to save the images to an Album

## Possible implementation

I don't know much about native code in relation to Camera Roll/Gallery

### Code sample

In my opinion, the current `CameraRoll

[2019-06-24 10:49] reyalpsirc commented on #65
Okay, this seems linked to [pull #55](https://github.com/react-native-community/react-native-cameraroll/pull/55), which solves it with a call to `CameraRoll.save(tag, [{type, album: 'My Album'}])`

[2019-06-24 10:49] #65 closed

[2019-06-26 06:40] ZackLeonardo commented on #15
same problem with new "ph://"

[2019-06-26 08:45] bartolkaruza commented on #64
Thank you for reporting! I'm not sure if this is an issue report or a general question. If it is a question about usage, maybe Stackoverflow will get you help faster. If it is an issue report, please help us out with a reproducible repo or code snippets.

[2019-06-27 22:57] vicki15 commented on #18
When I try to specify a value for groupTypes (for example All or SavedPhotos) I get this weird error
[code]

But If I try instead to specify one of the enums from the error such as 'Any' I get

[code]

Since I am not able to set groupTypes, I am getting back an empty array :/

Here is my code

[code]

And I am using "react-native": "0.59.8". Any ideas?

[2019-06-27 22:59] vicki15 commented on #18
@JoshuaGross

[2019-06-28 17:08] issacnitin commented on #15
Any workarounds to get file:// back ?

[2019-06-29 08:28] manithin commented on #52
facing the same issue. The image also cannot be viewed in the image components using uri. The image data from node looks like this:

image:{
height: 682
isStored: true
playableDuration: 0
uri: "ph://509F4C50-7A98-4503-BC1A-1753D1559BC4/L0/001"
width: 909
}

[2019-06-29 13:13] manithin commented on #52
@JoshuaGross passed the uri to RNFetchBlob and it fails. the error: "No such file 'ph://AF32193E-88E0-44BD-BC1C-EA9920940D61/L0/001'"

[2019-07-02 12:35] jonathangreco commented on #47
Hi @bartolkaruza Some time has passed and still no answer on this, did you manage to reproduce this issue ?

[2019-07-04 01:01] jacobchen commented on #41
I'm experiencing the same issue. I used below code snippet. If I set groupName, it always return an empty list but if I NOT set the groupName it returns a full list of photos.
[code]

[2019-07-09 14:14] dgarciamuria commented on #45
I'm seeing the same behavior here. Whenever I use `assetType: 'Videos' | 'Photos'` it works fine, the most recent assets are returned, but when using `assetType: 'All'` the oldest are returned first

[2019-07-09 16:15] Abdelrahman-Nabil commented on #15
having the same issue with ph:// when using imageManipulator.manipulateAsync on iOS and passing a ph:// path.

[2019-07-09 16:24] scarlac commented on #45
@dgarciamuria Did you meant to say `groupTypes`? It checks against groupTypes, but not assetType, as far as I recall. If it's `assetType` I don't immediately think it's related to this issue and/or PR.

[2019-07-09 20:47] dgarciamuria commented on #45
Yes you are right. I think it's best to open a new issue. (It was related to the comment above mine)

[2019-07-15 03:30] hyun04p opened #68 "Conflict with Autolink (react-native 0.60.0)"
# Bug

the library works well on android. However, it doesn't do the same on ios and emits following error:

null is not an object (evaluating '_nativeInterface.default.getPhotos')

getPhotos
    CameraRoll.js:177:25
_handleButtonPress
    LocalGallery.js:107:25
...

I suspected that the library is not properly linked and tried linking manually in xCode and by react-native link command. However, r

[2019-07-15 13:50] lynrose10 commented on #41
Same here. It doesn't return expected result

[code]
![Screen Shot 2019-07-15 at 9 36 46 PM](https://user-images.githubusercontent.com/29659291/61221076-47785e00-a74a-11e9-8af4-25f6d0c767b5.png)

![Screen Shot 2019-07-15 at 9 45 34 PM](https://user-images.githubusercontent.com/29659291/61221058-3c253280-a74a-11e9-9484-0ea2b5648040.png)

PS: I only have 2 photos on Screenshots album

[2019-07-16 20:52] zlorenzini commented on #33
I have the same issue on a Galaxy Note 9 with Android Pie. I am getting the width as 4302 and height as 1960, but the issue only occurs with actual photos taken by the camera. Screenshots and downloads are not affected.

[2019-07-18 06:28] nihp commented on #64
Hai, I have rendered all image from the Library in a screen. But the images loading shows as a  blink. It gets blinked for a while before loading all images.

This is my code snippet

[code]

[code]

[2019-07-19 22:08] ramazanarslan commented on #52
I have converted to `assets-library`, it is worked for me.
this is example

[code]

[2019-07-22 07:30] Bartson commented on #68
When can we expect fix?

[2019-07-22 07:57] hyun04p commented on #68
It's working after creating a new react-native init project and copy pasting all my code.
I couldn't figure out why such error occured though.

[2019-07-22 08:04] Bartson commented on #68
Really I need to create the entire project? After this, you skipped manual linking, right?

[2019-07-22 08:48] thekevinbrown commented on #59
Hey @scarlac, have you made progress on this? I have a need for this, so if not I'm happy to take this on.

[2019-07-22 14:26] scarlac commented on #59
@thekevinbrown I haven’t gotten started yet. Please go ahead! :)

[2019-07-24 03:41] thekevinbrown commented on #59
@scarlac Alrighty, I'll have a go at making a PR for this.

[2019-07-24 06:57] thekevinbrown commented on #59
@scarlac please give the code in #69 a go if you get a chance and let me know if you have any feedback.

[2019-07-25 16:35] talal7860 opened #70 "[IOS] Video display crashes on display with it's thumbnail url"
# Bug
I'm displaying a list of photos and videos from the library on IOS, it works fine when fetching only photos, but when I fetch videos, it obviously returns the thumbnail of the video, trying to display it crashes the app. The same code works on importing `CameraRoll` directly from `react-native` core libraries.

## Environment info

React native info output:

[code]

Library version: 1.1.1

#

[2019-07-30 01:47] thekevinbrown opened #72 "Loading all photos that show in Google Photos app and iOS Photos app"
# Question

A user of ours has an Oppo phone. In the Google Photos app she has `Back up & sync` turned on, so Google Photos seamlessly shows all the photos in her google drive.

The Oppo photos app only shows 4 photos, which are the same photos we currently get from `getPhotos`.

Is there a way to get `getPhotos` to return the photos that are in her Google Drive, or a way to configure her phone so

[2019-07-30 02:14] fctmolina1135 opened #73 "Include File Size and other metadata that might be useful in the response object"
# Feature Request

Include file size and other metadata that might be used by the user.

## Why it is needed

PHAssets is still unsupported by other libraries that can get the metadata of the image (e.g., RNFS, rn-fetch-blob, etc.). Instead of using other libraries to get the file size or other metadata of the image, might as well just include it in the response object of the camera roll.

## Poss

[2019-07-30 10:03] Psiiirus commented on #41
Any solution? i really need the latest taken photos of the phone user

[2019-08-02 07:26] Vieriksson commented on #68
I am getting the same error message, even with a fresh react-native-project.

@hyun04p Did you use react-native link, manual linking or auto linking?

[2019-08-02 09:15] hyun04p commented on #68
I ended up downgrading to 0.59.9 because of some NON react-native-community dependencies.
On 0.59.9 everything's working well after 'react-native-link".

But as I mentioned earlier cameraroll worked after refreshing the project even with 0.60.x as well WITHOUT react-native-link.

I couldn't figure out why it wasn't working at the first place tho..

U could probably try clearing all dependency by

[2019-08-05 14:52] NikhilVerma commented on #8
We can port some code over from https://github.com/pentarex/react-native-gallery-manager which has an api to get the albums.

[2019-08-07 06:53] fctmolina1135 opened #75 "[IOS] CameraRoll.getPhotos() returns photos with duplicates"
# Bug

- CameraRoll.getPhotos in IOS returns photos with duplicates of the photos.

![Screen Shot 2019-08-07 at 2 35 56 PM](https://user-images.githubusercontent.com/22470020/62600889-9fa61880-b922-11e9-939d-9513a902ec08.png)

## Environment info

React native info output:

[code]

## Steps To Reproduce

Describe what you expected to happen:

1. CameraRoll.getPhotos should not return an object con

[2019-08-07 12:20] maxaggedon commented on #52
I just submitted #76 which addresses the problem of uploading images as JPEG instead of HEIC.
Might be related, I am not sure...

[2019-08-08 20:27] tomtargosz commented on #52
@maxaggedon I used your fork to see if it fixed this issue, unfortunately not.

[2019-08-11 08:58] boozi2 commented on #68
getting the same error, any updates/fixes ?

[2019-08-14 14:54] albullington commented on #72
Following this -- we've had users request for their Google Photos to show up as well.

[2019-08-14 17:18] bartolkaruza commented on #42
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-08-14 19:36] bartolkaruza commented on #68
I will look into this over the weekend and try to resolve it. Sorry for the wait

[2019-08-14 19:37] bartolkaruza commented on #73
There is a start on this already open at https://github.com/react-native-community/react-native-cameraroll/pull/30

If someone has the time to implement this I will be happy to review and guide.

[2019-08-14 22:25] Abdelrahman-Nabil commented on #36
is this fixed ? i'm still experiencing the same issue. (using expo SDK 33)

[2019-08-14 22:27] Abdelrahman-Nabil commented on #41
+1

[2019-08-14 22:39] Abdelrahman-Nabil opened #79 "[iOS] getPhotos() returns no data for assetType: 'All' and old data for assetType: 'Photos'"
# Bug

cameraRoll.getPhotos() returns no data for assetType: 'All' and old data for assetType: 'Photos', it works fine on Android only.

## Environment info
Expo SDK 33.0.0 managed workflow

## Expected Output:
full data of most recent photos/videos from the camera roll

## Reproducible sample code

empty response:
`
CameraRoll.getPhotos({
first: 40,
			...(this.endCursor && {after: this.endCursor

[2019-08-15 10:58] thymikee commented on #68
Can you update the `@react-native-community/cameraroll` version to 1.2.1 and run `pod install` in `ios` directory? That should help

[2019-08-15 21:27] bruno-trindade commented on #68
I am also getting this error, except on Android.  I've tried upgrading to 1.2.1 with no success.  RN 0.59.5

[2019-08-16 07:31] thymikee commented on #68
@bruno-trindade we're talking about RN 0.60, your problem is likely different. Please upgrade to 0.60 or create a separate issue with detailed reproduction steps and example repo

[2019-08-16 15:47] Bartson commented on #68
Still not working :/
RN 0.6 and @react-native-community/cameraroll 1.2.1
Maybe I'm missing something with permissions? App doesn't ask me for access to the photo library. I've entered Privacy - Photo Library Usage Description key into info.plist.

[2019-08-21 01:46] thekevinbrown commented on #75
Do you have duplicates in the camera roll? Can you post a screenshot of what you see in the Photos app?

[2019-08-21 18:27] Vieriksson commented on #68
@thymikee Upgrading to 1.2.1 and running pod install in the ios-folder worked for me. Thank you!

[2019-08-22 01:33] fctmolina1135 commented on #75
@thekevinbrown Yes, the duplicates are in the camera roll.
This is what I see in the Photos App

![Screen Shot 2019-08-22 at 9 32 44 AM](https://user-images.githubusercontent.com/22470020/63479222-eb7ac500-c4bf-11e9-9f9a-d2f6be38a754.png)

[2019-08-22 23:04] sethjdev opened #80 "Intermittent IOS Crash When Fetching Photos"
# Bug

Some users of our app are experiencing a crash when trying to retrieve their photos. This is the code used.

[code]

Calling this results in the following error detected from Bugsnag.

[code]

## Environment info

React native info output:

[code]

Library version: 1.1.1

## Steps To Reproduce
The issue is not reliably reproducible. However based on our error reports it is only on iOS and o

[2019-08-23 08:40] jonathangreco commented on #47
@bartolkaruza Please an answer on this one thanks in advance

[2019-08-27 08:44] Bartson commented on #68
@thymikee
My bad (I had **Privacy - Photo Library Addition Usage Description** key instead **Privacy - Photo Library Usage Description**), everything works great now. Thank you :D

[2019-08-28 23:25] ZephyrFang commented on #41
+1

[2019-08-28 23:53] Abdelrahman-Nabil commented on #52
Is this has a fix or still unresolved ? i'm having the same issue

[2019-08-29 00:17] ZephyrFang commented on #41
I think there is a bug in their code. They don't check the album name parameter (groupName) unless you set the groupType to something not 'all'.
I change my code from:
 CameraRoll.getPhotos({
        first: 20,
        assetType: 'Photos',
        groupName: group_name,
      })

to

 CameraRoll.getPhotos({
        first: 20,
        assetType: 'Photos',
        groupName: group_name,
        grou

[2019-08-30 15:52] mohaned2014 commented on #75
i have the same issue

[2019-08-30 22:31] EdmundMai commented on #15
Same issue here
[code]

[2019-09-02 07:13] bartolkaruza commented on #80
Thanks for reporting, we'll have a look

[2019-09-05 20:50] brentvatne commented on #79
@Abdelrahman-Nabil - you shouldn't use cameraroll in expo, you should use medialibrary instead: https://docs.expo.io/versions/latest/sdk/media-library/

[2019-09-05 20:50] #79 closed

[2019-09-06 10:10] dev2612 commented on #18
I am facing a problem with videos specifically. In my scenario, I have to save a file on cameraRoll and pick the last saved file from the camera roll to share it further.

iOS cameraRoll retains the video's original metadata and thus save the file with createdate and not with today's Date.

So when I pick the last saved file, I get someother file instead of the video I just saved to cameraRoll

An

[2019-09-06 10:11] dev2612 commented on #75
I am facing a problem with videos specifically. In my scenario, I have to save a file on cameraRoll and pick the last saved file from the camera roll to share it further.

iOS cameraRoll retains the video's original metadata and thus save the file with createdate and not with today's Date.

So when I pick the last saved file, I get someother file instead of the video I just saved to cameraRoll

An

[2019-09-06 10:16] dev2612 opened #82 "Issue in fetching the last saved file on iOS cameraRoll"
# Question

I am facing a problem with videos specifically.

Scenario: I have to save a file on cameraRoll and pick the last saved file from the camera roll to share it further.

iOS cameraRoll retains the video's original metadata and thus save the file with createdate and not with today's Date.

So when I pick the last saved file, I get someother file instead of the video I just saved to cameraR

[2019-09-06 13:25] fokoz commented on #75
It is duplicate because when you are fetching with `groupTypes: 'All'`, it will return every albums and images inside them. In your example case may have 2 albums: Recent Photos and All Photos.

[2019-09-08 15:40] jzyds commented on #75
I solved this problem by upgrading react-native-cameraroll version

[2019-09-08 15:41] jzyds commented on #52
https://github.com/jzyds/react-native-convert-ph-asset

[2019-09-08 15:47] jzyds commented on #70
https://github.com/jzyds/react-native-convert-ph-asset

[2019-09-08 15:49] jzyds commented on #49
https://github.com/jzyds/react-native-convert-ph-asset

[2019-09-08 15:50] jzyds commented on #15
https://github.com/jzyds/react-native-convert-ph-asset

[2019-09-18 12:49] simon-klikkie opened #83 "[iOS] getPhotos take really long compared to previous package"
# Bug
I have recently moved to RN 0.60.5 from 0.59
Previously I was using the CameraRoll from `react-native` but with the upgrade to 0.60.6 I see that CameraRoll has been extracted and moved to this package.
Previously when I ran this
[code]

This would return within a few seconds using the old CameraRoll.

But when using the CameraRoll from this package, this promise can take up to a minute to re

[2019-09-19 06:35] BSSUTAR commented on #52
Any updates on this issue?

[2019-09-20 02:26] souljacker commented on #19
Can we have this on the documentation?

[2019-09-20 02:32] souljacker commented on #19
BTW:  I tried this solution and am still getting the error mentioned.

`[23:29:37] E | ReactNativeJS ▶︎ 'An error occurred', { [Error: Could not get media: need READ_EXTERNAL_STORAGE permission]
                             │ framesToPop: 1,
                             │ nativeStackAndroid:
                             │ [ { methodName: 'createException',
                             │ lineNumber

[2019-09-20 02:36] joseguerrerov commented on #19
Hi @souljacker,
Did you put that permission in the Manifest?
`<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>`

It would be a good idea to add that snippet to the readme or probably to the code itself @bartolkaruza WDYT?

[2019-09-20 19:32] souljacker commented on #19
Yeah, after doing what is described here it worked. It would be nice to have this on the docs, though.

[2019-09-24 16:51] KA-32 commented on #52
Hi Guys, I found way to solve this issue in iOS. We can write another method like getSelectedPhoto() and pass the selected image path which is ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001. In RNCCameraRollManager.m we can use **requestContentEditingInputWithOptions** to get the path of selected image. I will raise PR on this

[2019-09-25 05:11] 77xi commented on #44
you should `cd ios && pod install` after auto link and then rebuild

[2019-09-25 05:30] shrijan commented on #52
`CameraRoll.saveToCameraRoll(photo.uri, 'photo').then(
            u => {
                let name = Date.now();
                let data =  new FormData()
                data.append ('file',{
                    uri : u,
                    type: 'image/jpg',
                    name: name+'.jpg'
                })
                console.log('image upload',data)
                promises.push(ax

[2019-09-25 13:57] CesarRivasP commented on #52
Can you explain how to carry out that solution?

[2019-09-25 18:03] KA-32 commented on #52
@CesarRivasP Could you please check this link ?
https://github.com/KA-32/react-native-cameraroll
I have forked repo and updated with fix. Currently testing and once ready will raise PR.
If possible could you please help me in testing ?

Thanks

[2019-09-25 19:20] tomtargosz opened #86 "Yellow bow when calling saveToCameraRoll - Calling bridge.imageLoader is deprecated and will not work in newer versions of RN."
# Bug

When calling `CameraRoll.saveToCameraRoll` I'm getting a yellow box warning.

<img width="365" alt="Screen Shot 2019-09-25 at 2 13 12 PM" src="https://user-images.githubusercontent.com/7979579/65632316-fe8d2300-df9e-11e9-8491-5fe3763b237a.png">

## Environment info

React native info output:

[code]
(react-native info is saying iOS 12.4 but I'm using 13)

Library version: 1.2.1

## Steps To

[2019-09-25 19:36] xlcrr commented on #45
Coming from expo here

My .getPhotos() in production is working perfectly, but after upgrading SDK from 32 to 34, and React from 16.3.1 to 16.8.3 introduced this breaking change.

[2019-09-25 23:48] shrijan commented on #52
i am getting error
 TypeError: null is not an object (evaluating '_nativeInterface.default.saveToCameraRoll')]

[2019-09-26 00:50] aarongrider opened #88 "Android SDK 29 Breaks GetPhotos()"
# Bug

When changing the targetSdkVersion from 28 to 29, in build.gradle, CameraRoll.getPhotos() fails with an error "Invalid column longitude".

![image](https://user-images.githubusercontent.com/5132904/65649603-18892e80-dfbc-11e9-8dcf-148b3e4fd9c1.png)

I have tried with both a wrapper app and the Example app included in this library. It looks like the native module needs to be updated to suppo

[2019-09-26 05:18] KA-32 commented on #52
CameraRoll.getSelectedPhoto(`ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001 `)
     .then(r => {
       //Use this filepath to upload image to server.
       console.log(r.node.image.filepath);
     })
     .catch((err) => {
        //No selected image found
     });

Is this method giving error?

Could you please help in reproducing the issue ?

Thanks

[2019-09-26 17:01] aarongrider commented on #88
This issue is due to this constant being depreciated
https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LATITUDE

[2019-09-26 23:32] shrijan commented on #52
` onPictureSaved = async photo => {

        CameraRoll.saveToCameraRoll(photo.uri, 'photo').then(
            u => {
            //u is ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001
                CameraRoll.getSelectedPhoto(u)
                .then(r => {
                    //Use this filepath to upload image to server.
                    console.log('Use this filepath to upload image to s

[2019-09-27 13:50] CesarRivasP opened #89 "No such file 'ph:// ......'"
For my part, I solved my problem. This was that the uri was not valid when converting images to base64. I solved it as follows:

let imagePATH = null;
    if(Platform.OS === 'ios'){
      let regex = /:\/\/(.{36})\//i;
      let result = uriPhoto.match(regex);
      let photoPATH = `assets-library://asset/asset.JPG?id=${result[1]}&ext=JPG`;

      const dest = `${RNFS.TemporaryDirectoryPath}${Math

[2019-09-27 13:50] #89 closed

[2019-09-27 13:51] CesarRivasP commented on #52
For my part, I solved my problem. This was that the uri was not valid when converting images to base64. I solved it as follows:

[code]

[2019-10-01 00:41] shrijan commented on #52
Any idea about issue

[2019-10-01 03:38] aarongrider commented on #88
There are a few possible solutions to this issue, one of them being removing location data from the query and therefore module. I am happy to submit a PR to the project with these changes if needed.

[2019-10-01 06:14] cporawat commented on #83
I have similar issue.
For my case, I use CameraRoll from community package with react-native 0.59 and it's fast. However after upgrade react-native to 0.60.4, getPhotos seems to slow down to a minutes.

[2019-10-02 09:08] johanschram commented on #83
Same issue here after upgrading from rn 0.59 to 0.61 and moving from builtin CameraRoll to CameraRoll from community package.

[2019-10-03 09:41] AfanasievN opened #90 "Yarn add --> error Command failed"
# Bug

## Environment info

React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce

I just wanted to install package using --> yarn add @react-native-community/cameraroll

and error happened
![Снимок экрана 2019-10-03 в 12 36 19](https://user-images.githubusercontent.com/25581141/66116305-256cda00-e5db-11e9-9d61-ef6f6cc862a5.png)

[2019-10-03 09:48] AfanasievN commented on #1
any progress on this one?

[2019-10-03 12:20] morampudibabu opened #91 "React Native cameraRoll save video to device from URL"
Tried with **CameraRoll.saveToCameraRoll(videoURL, 'video')** and also **CameraRoll.save(videoURL, {type: 'Video', album: 'Test'})** but not working

Getting error like **Error: The operation couldn’t be completed. (Cocoa error -1.)**

[2019-10-07 12:52] tommynordli commented on #41
I'm able to get user albums with `groupTypes` set to `Album` or `SavedPhotos`, but I'm not able to get photos from smartAlbums like "Favorites", "Panoramas" or "Selfies".

[2019-10-09 08:30] meiqi1992 commented on #70
@talal7860 same issue. you resolved it?

[2019-10-09 19:02] givik opened #92 "npm ERR! peer dep missing: react-native@>=0.57 <=0.59, required by @react-native-community/cameraroll@1.2.1"
**react-native info:**
[code]

[2019-10-09 20:01] palkerecsenyi opened #93 "CameraRollModule.java uses or overrides a deprecated API."
# Bug

I recently upgraded React Native to 0.61.2 from 0.60.4, and when I tried to run `react-native run-android` (after having run `gradlew clean`) I got the following error:

[code]

## Environment info

React native info output:

[code]

Library version: 1.2.1
## Steps To Reproduce

1. Upgrade React Native 0.60.4 -> 0.61.2 (following
2. Run `react-native run-android`

## Reproducible sample cod

[2019-10-10 17:28] codeoholic commented on #91
While you fetch the file via RNFetchBlob.fetch. Pass appendExt : 'mp4' or 'mov' as config parameter alongside fileCache : true. This should fix your problem.
Also, type:'video' and not 'Video'.

[2019-10-10 19:15] #92 closed

[2019-10-11 17:59] chrisnovak commented on #92
Why did you close this?

[2019-10-11 22:05] RyanMitchellWilson opened #95 "node_modules/@react-native-community/cameraroll/ios/RNCCameraRollManager.h:10: 'React/RCTBridgeModule.h' file not found"
# Bug

## Environment info

React native info output:

[code]

Library version:1.2.1

## Steps To Reproduce

1. npm i @react-native-community/cameraroll --save
1. Add RNCCameraroll.xcodeproj to Libraries
1. Add libRNCCameraroll.a to Build Phases -> Link Binary With Library
1. Run app

Describe what you expected to happen:

1. Should not fail

## Reproducible sample code

[2019-10-14 09:13] PondSorawit commented on #83
Same. Is there an alternative way?

[2019-10-15 13:30] mahdidarzi commented on #19
i solve this with
export const isIos = (Platform.OS === 'ios');
 requestStoragePermission = async () => {
    if (Platform.Version < 23 || isIos) {
      return true
    }
    try {
      const granted = await PermissionsAndroid.request(
        PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE
      );
      return (granted === PermissionsAndroid.RESULTS.GRANTED);
    } catch (err) {
      co

[2019-10-15 13:31] mahdidarzi commented on #19
i solve this with
export const isIos = (Platform.OS === 'ios');
requestStoragePermission = async () => {
if (Platform.Version < 23 || isIos) {
return true
}
try {
const granted = await PermissionsAndroid.request(
PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE
);
return (granted === PermissionsAndroid.RESULTS.GRANTED);
} catch (err) {
console.log(err);
}

};
"dependencies": {
    "@react-nat

[2019-10-16 13:37] cporawat commented on #83
Anyone found solution for this?

[2019-10-16 15:48] sperezm97 commented on #12
hi everyone, keep persist :( using `react-native-camera` to taking photos and `react-native-cameraroll` to save them. it does not bring me the latest photo taking. Only happen on Android 7.0+, my `react-native-version` is v0.60.5. Let me know if are something new.

[2019-10-17 04:58] Gjoshi3107 commented on #88
Not just [Latitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LATITUDE) and [Longitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LONGITUDE) but [MediaStore.MediaColumns.DATA](https://developer.android.com/reference/android/provider/MediaStore.MediaColumns.html#DATA) is also deprecated in API level 29 resul

[2019-10-17 05:25] Gjoshi3107 commented on #88
it seems decreasing the sdk version to 28 works for now

[2019-10-17 06:07] Gjoshi3107 commented on #88
Not just [Latitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LATITUDE) and [Longitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LONGITUDE) but [MediaStore.MediaColumns.DATA](https://developer.android.com/reference/android/provider/MediaStore.MediaColumns.html#DATA) is also deprecated in API level 29 resul

[2019-10-17 06:42] Gjoshi3107 commented on #93
Actually i also faced this issue
It's occuring as [Latitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LATITUDE), [Longitude](https://developer.android.com/reference/android/provider/MediaStore.Images.ImageColumns#LONGITUDE) and [MediaStore.MediaColumns.DATA](https://developer.android.com/reference/android/provider/MediaStore.MediaColumns.html#DATA) is

[2019-10-18 02:18] fangxndoit commented on #95
same Q！ i want to die

[2019-10-19 06:35] GreatFan commented on #15
if([path hasPrefix:@"ph://"]){

      NSString *assetID = [path substringFromIndex:@"ph://".length];
      PHFetchResult *results = [PHAsset fetchAssetsWithLocalIdentifiers:@[assetID] options:nil];

      PHAsset *asset = [results firstObject];

      PHImageRequestOptions *request = [PHImageRequestOptions new];
      request.version = PHImageRequestOptionsVersionCurrent;
      request.deliveryMod

[2019-10-22 10:55] Brouilles commented on #70
Same here.

[2019-10-23 06:26] bird-xiong opened #96 "RCTImageLoader.h' file not found in RN 0.60.0"
RCTImageLoader is deprecated in RN 0.60.0, needs update.

[2019-10-24 20:25] zcramos commented on #92
^ +1. Is the cap at RN 0.59 intentional or am I going to be okay incorporating this into RN 0.61.2?

[2019-10-24 23:27] scarlac opened #97 "getPhotos() on Android 10 missing screenshots"
# Bug

Title is somewhat misleading but is the experience users will get.

**Longer, accurate description:**
New screenshots are sorted last when using `getPhotos()`. The net effect of this, on a device with a lot of photos, is that the user thinks screenshots are not showing at all.

The reason for this seems to be that screenshots taken in Android 10 are no longer tagged with `DATE_TAKEN` but on

[2019-10-28 09:39] KevinGbalay commented on #97
I've tried your PR. It seems that all images and videos have the wrong timestamp now (0, or Jan 01, 1970). Perhaps changing the logic to check if the image has a timestamp of 0, then call the DATE_ADDED tag. Else, call the DATE_TAKEN tag.

[2019-10-29 02:48] Jarred-Sumner opened #99 "Add support for media subtypes? (e.g. only return screenshots)"
# Feature Request

[`PHAssetMediaSubtype`](https://developer.apple.com/documentation/photokit/phassetmediasubtype) lets you filter results by things like screenshot, live photo, panoramic photo, HDR photo, etc.

## Why it is needed

This is helpful in apps that want to narrow the results to show specific types of photos/videos.

## Possible implementation

I have it working in a fork. Here's the m

[2019-10-31 03:04] stevejboyer commented on #75
Yes I found this was happening for me due to having some photos marked as Favorite so they were in the "Favorites" album, and getting by `groupTypes: 'All'` was getting duplicates.

[2019-10-31 03:53] fctmolina1135 commented on #75
@stevejboyer then what should I set the groupTypes to in order to get all photos without them being duplicated?

[2019-10-31 04:08] stevejboyer commented on #41
Same here. If I find a solution, I'll post it here.

[2019-10-31 04:17] stevejboyer commented on #75
I'm still actively working on figuring this whole thing out. For a while I was teaching myself Swift (I  come from the web, not native app development), and writing my own photos getter, because the native one is so buggy.

For now I've found if I put groupTypes to 'Album' or 'Library' it will get photos from a specific custom-named album, but not Favorites or another built-in album.

Looks like I

[2019-10-31 16:52] ederelk commented on #75
I am having the same issue

[2019-11-01 13:11] KevinGbalay commented on #93
As Gjoshi3107 said, API 29 removed the ability to get location from images.
A fix would be to remove them from the `CameraRollModule.java` file if location information is irrelevant to you.
Remove `Images.Media.LONGITUDE` and `Images.Media.LATITUDE` from the java file, then either set `int longitudeIndex = 0;` and `int latitudeIndex = 0;` or remove them altogether.
If you chose to remove them, mak

[2019-11-02 16:45] George-98 commented on #41
I'm struggling with this issue as well! I can't seemed to find a solution to pull out the most recent images taken using the cursor. I found the only solution using the cameraroll component was to request 2000 images and then sort the result via timestamp. However this wan't practical as it lagged out the device.

I ended up just resorting to this npm package which seems to work well so far.
https

[2019-11-04 17:31] scarlac commented on #97
@KevinGbalay This PR should not be modifying the timestamps of the images or videos. Are you talking about sorting or image metadata? The latter is not related to this PR.

[2019-11-04 19:09] mihaislobozeanu commented on #52
Hi to all,
After analysing the iOS code I've found that it is fetching the asset for upload, but only if the uri starts with ph-upload, for images and also for videos. So, before upload
`
if (asset.uri.startsWith('ph://')) {
   asset.uri = 'ph-upload' + asset.uri.substring(2);
}
` should upload the original asset, not the thumbnail. You don't need KA-32 solution, nor react-native-convert-ph-asset

[2019-11-05 19:15] Dellybro commented on #52
This works. just don't forget to delete this photos afterwards.

[2019-11-06 02:52] fctmolina1135 commented on #75
I tried to use other groupTypes if I use them there are no photos returned by the getPhotos() method

[2019-11-07 13:02] babitakapoor112 opened #100 "get images in chunks"
I need to get images in chunks like first 10 after that next 10.

[2019-11-07 13:11] #44 closed

[2019-11-07 13:13] #59 closed

[2019-11-07 13:14] #86 closed

[2019-11-07 13:17] #97 closed

[2019-11-07 13:28] bartolkaruza commented on #59
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-11-07 13:28] bartolkaruza commented on #86
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-11-07 13:28] bartolkaruza commented on #44
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-11-07 13:28] bartolkaruza commented on #97
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2019-11-07 13:36] bartolkaruza commented on #96
should be fixed by https://github.com/react-native-community/react-native-cameraroll/pull/87 and released in 1.3.0

[2019-11-07 13:36] #96 closed

[2019-11-07 13:37] bartolkaruza commented on #99
We'll take a PR for this if anyone is up for it.

[2019-11-07 13:39] bartolkaruza commented on #95
You shouldn't manually add the to libraries on React Native 0.60 + . Did you try just `npm i ...` and then running `cd ios && pod install`, followed by running the app?

[2019-11-07 13:42] bartolkaruza commented on #91
Thanks for the answer @codeoholic . Can you confirm this solved your issue @morampudibabu ? Closing for now.

[2019-11-07 13:42] #91 closed

[2019-11-07 13:46] bartolkaruza commented on #90
It looks like you're adding a git dependency, but misspelled the url somewhere:
`httaps` > `https`

Closing for now.

[2019-11-07 13:46] #90 closed

[2019-11-07 13:47] bartolkaruza commented on #88
closing as duplicate of https://github.com/react-native-community/react-native-cameraroll/issues/93

[2019-11-07 13:47] #88 closed

[2019-11-07 13:50] bartolkaruza commented on #75
Can anyone confirm this is still happening on the latest version of cameraroll?

[2019-11-07 13:55] bartolkaruza commented on #52
There seem to be good workarounds for this issue. I'm closing this, for now, just let me know if anyone wants to provide a PR that makes the above easier for everyone and I'll re-open.

[2019-11-07 13:55] #52 closed

[2019-11-07 13:59] bartolkaruza commented on #36
That fix is merged in. I'm not sure about the cameraroll version shipped with Expo, but I think they don't use this library anymore in more recent versions. Try upgrading and let me know if this needs to be re-opened.

[2019-11-07 13:59] #36 closed

[2019-11-07 14:01] bartolkaruza commented on #64
Not sure about the blinking, but I think that's not related to this library. I'm closing this issue for now. You can post your question to Stackoverflow for general help/advice on integrating various libraries together.

[2019-11-07 14:01] #64 closed

[2019-11-07 14:04] bartolkaruza commented on #8
This should work using
`
groupType: 'Album',
groupName: 'album-name'
`

Closing for now, let me know if something is not working with this.

[2019-11-07 14:04] #8 closed

[2019-11-07 14:07] bartolkaruza commented on #47
@javache any chance you could help out on this issue? There is a link to a repro in the description.

[2019-11-07 14:08] bartolkaruza commented on #68
thanks for reporting, this shouldn't be an issue anymore.

[2019-11-07 14:08] #68 closed

[2019-11-07 14:09] bartolkaruza commented on #49
Closing this, for now, see workarounds above if you experience this issue. We'll look at a better handling of the ph url's in one go, hopefully soon.

[2019-11-07 14:09] #49 closed

[2019-11-07 14:11] bartolkaruza commented on #100
Please look at the `after` and `page_info` properties in the docs.

[2019-11-07 14:11] #100 closed

[2019-11-07 14:18] jonathangreco commented on #47
I would gladly appreciate the confirmation of my issue @LuongTruong , what happens if you have less than 10 images in your gallery ? and ask for 20 ?

In my project no images are shown.

[2019-11-07 14:50] bartolkaruza commented on #70
This is a duplicate of https://github.com/react-native-community/react-native-cameraroll/issues/52 and the issue is related to `ph://` uri's. There are workarounds posted at that other issue as well as using the react-native-convert-ph-asset library posted above by @jzyds . Closing for now.

[2019-11-07 14:50] #70 closed

[2019-11-07 14:51] bartolkaruza commented on #83
could be related to https://github.com/react-native-community/react-native-cameraroll/issues/14

@javache any chance you could help on this issue?

[2019-11-07 14:54] bartolkaruza commented on #82
Why not use the resolved URI after saving instead of fetching the first photo?

Please note that you might have an issue with the URI, related to this: https://github.com/react-native-community/react-native-cameraroll/issues/52

I'm closing this issue for now, as I think this is a user question and not a bug. Let me know if you would like me to reopen as a bug, with a description of what exactly i

[2019-11-07 14:54] #82 closed

[2019-11-07 14:56] bartolkaruza commented on #15
The original issue is resolved as far as I can tell by simply upgrading.

Workarounds for the PH uri's are at https://github.com/react-native-community/react-native-cameraroll/issues/52

Thank you for reporting 🙂

[2019-11-07 14:56] #15 closed

[2019-11-11 13:39] zedtux opened #106 "ANDROID only: TypeError: Cannot read property 'getPhotos' of undefined"
# Bug

This library works just fine with iOS but it fails with Android with the following:

[code]

`SelectPictureFromCameraRollPage.fetchPhotos (index.js:145)`:

[code]

`Function.getPhotos (CameraRoll.js:192)`:

[code]

It seems that the library is well configured in my project, as the stack is entering the library, so that's why I'm opening this bug issue.

## Environment info

React native inf

[2019-11-11 14:13] maheshdroid commented on #106
Regression: CameraRoll.getPhotos causes StringIndexOutOfBoundsException when filename contains a

Android only

When an image on the device has a # in its name, CameraRoll.getPhotos does not return any image
By using URLConnection.guessContentTypeFromName it expects any hashes to be after the extension, which then causes a StringOutOfBoundsException here

[2019-11-11 14:14] johanschram opened #107 "CameraRoll.save(path, { type, album: 'New album' }) : create the album if it doesn't exist"
# Feature Request

Currently, on IOS, when you use CameraRoll.save(path, { type, album: 'New album' }) with an album that doesn't exist, the media is not stored.
On Android simulator, if the album doesn't exist, it creates it, and stores the media (doesn't seems to work on real devices thought).

It would be nice to have the album created if is doesn't exist.

[2019-11-11 14:16] zedtux commented on #106
Okay so I realised that in my Android app, I had 2 folders in the `src/main/java` folder:

 - `com.mymobapp`
 - `lu.company.mymobapp`

It seems that this mess come from the react-native migration. Removing the `com.mymobapp` folder and re-doing the migration to the right file fixed the issue, now I can access the photos from Android.

[2019-11-11 14:16] #106 closed

[2019-11-12 08:31] dtheodor opened #108 "only requiring NSPhotoLibraryAddUsageDescription"
I want to use this library just to save an image to the camera roll, not to retrieve images from any photo library. As far as I can tell it's not possible to do this with the proper least-intrusive permission of additions-only, the `NSPhotoLibraryAddUsageDescription`, instead I have to ask the user for full photo library usage. Is there a reason why this is so?

[2019-11-14 18:11] fairlycasual commented on #95
Currently in the process of upgrading from RN 0.59.10 to 0.61.4, and keep encountering the same issue. I have not attempted to manually link the library. All of the related errors I get are:
[code]

I have tried to alter the #import syntax to #import "React/RCTBridgeModule.h" to no avail. Any updates on this issue?

[2019-11-16 16:27] billdami opened #110 "Thumbnail images and performance recommendations?"
Hi,

Is there any way to request thumbnail sized versions of images to be returned by `getPhotos()` calls? I am noticing sluggish performance and high memory usage when attempting to render the returned images in a grid FlatList type UI using the core `Image` component (which does not appear to be choosing a smaller/lower resolution image on render, like it says it does in the docs, at least not o

[2019-11-19 09:53] bartolkaruza commented on #110
Hi there, thanks for reaching out. I'm going to close this issue as we're trying to keep this issue tracker focused on specific issues with the Cameraroll API. Your question to me looks like something that would get answered well on Stack Overflow.

[2019-11-19 09:53] #110 closed

[2019-11-19 10:00] bartolkaruza commented on #95
@fairlycasual I assume you did not get to your problematic state the same way OP did? The original issue is caused by an incomplete upgrade from manual linking <0.60 and cocoapods >0.60.
Unless you can give me a clean `react-native init` repro that shows this issue, I don't have any way of helping you.

My first thought though, is that something didn't go quite right in your upgrade process. Try c

[2019-11-19 10:14] bartolkaruza commented on #108
Hi there, I think the reason is that NSPhotoLibraryAddUsageDescription was added as a new permission by Apple after the original implementation of the Cameraroll, but I'm not 100% sure. I think it would be great to ask for the least required permissions, requesting the user for write-only on `save` calls and read on `getPhotos`. Would you be interested in contributing this?

[2019-11-19 15:45] fairlycasual commented on #95
Thanks for the reply @bartolkaruza, I appreciate your time and that you took a look at it from my somewhat ambiguous stack trace. I solved this issue shortly after asking. When I get back to a good stopping point to checkout my previous commit, I can provide an update on those changes if it'll provide value.

[2019-11-19 22:23] billdami commented on #110
thanks for the reply @bartolkaruza. I did do some research on Stack Overflow and the like, and was not able to find a performant way to get smaller photos, while still using this library as the means to retrieve the list of photos themselves.

As I am mainly concerned with iOS usage, I did notice this line in the iOS implementation:

https://github.com/react-native-community/react-native-camerarol

[2019-11-20 04:18] dreampiggy opened #111 "Unify and draft common standard of Photos PHAsset URL (ph://) to communicate with other framework"
See related issue: https://github.com/DylanVann/react-native-fast-image/issues/314#issuecomment-555827640

react-native-cameraroll now hard-coded to construct the PHAsset URL, with the following format:

[code]

However, [SDWebImage](https://github.com/SDWebImage/SDWebImagePhotosPlugin) 's photo plugin, construct the PHAsset URL, with the following format:

[code]

Which cause the in-compatible is

[2019-11-20 04:23] dreampiggy commented on #111
One issue about this `ph://F2A9F582-BA45-4308-924E-6D146B784A09/L0/001`

This is not standard URL format, see [URL RFC 1738](https://tools.ietf.org/html/rfc1738). Because it does not have the `host` component. Which is inlivad to use in `NSURL` this object of iOS.

[2019-11-22 14:34] sharifashraful commented on #75
it returns same image with different pages.. when i add filter by Images.Media._ID it fix duplicate image return issue..

[2019-11-27 09:37] manithin commented on #41
Did you manage to find any solution? same issue here.

[2019-11-28 06:48] dantonio1401 opened #112 "Null is not an object (evaluating '_nativeInterface.default.getPhotos')"
# Question

I am getting an error when using the CameraRoll library stating that the object is Null

I see that this question has been asked before with different versions of react-native. I have tried the solutions outlined in those discussions (auto linking/ manually linking) and nothing has worked

Here is the system information:
[code]

[2019-11-29 08:45] littletower commented on #16
Support for gifs would be awesome, did anyone find a workaround in the meantime?

[2019-11-29 20:14] bartolkaruza commented on #112
Hey there, so how are you linking right now? I'm going to need a bit more context. The error means the following: You are accessing a native module, that is not actually there in the app binary. This means, for whatever reason, the library did not get included in the iOS build. I can't help you with tech support directly, but what usually works for me is the following:
1) init a new project
2) add

[2019-11-29 20:14] #112 closed

[2019-11-29 20:26] bartolkaruza commented on #111
Thanks for opening this discussion. I would love to move towards some standard as I feel there are too many interoperability issues caused by this url format. I'm unfamiliar with everyone's preferences on this subject, so I'm happy to follow your lead on this @dreampiggy . If anything needs to change for Cameraroll, a PR is also more than welcome.
Is there any particular perspective from FB @Joshu

[2019-11-30 02:22] dreampiggy commented on #111
SDWebImagePhotosPlugin already change to use the ph:// format in new versions...

I think to avoid future other libraries whi use Photos Framework , a common standard way to generate the URL is preferred.

[2019-12-02 10:12] mickmak-busicat commented on #45
This works well only when small amount of photos are in camera roll.
If user have a lot of photos(ie, 10000+) and we dont want to load them all at one time.
The order of this approach will be a problem again since `first` parameter does not actual get n latest photos from camera roll. The sorting is just try to sort all the result in page 1 which will cause more confuse for users.
Any method that

[2019-12-04 06:16] nihp opened #113 "Getting an error as null is not an object (evaluating '_nativeInterface.default.getPhotos)"
I am getting an error while trying to open Cameraroll (getPhotos)

[2019-12-05 02:07] Prateek93a commented on #113
yes I am getting the same error

[2019-12-05 19:53] Jarred-Sumner commented on #113
Are you sure that you ran `pod install`?

[2019-12-06 03:56] nihp commented on #113
It working fine for me now

[2019-12-06 20:00] Ashoat commented on #33
I've had similar issues with older Android devices where the dimensions are crossed, specifically for videos. I've tried:

1. Sourcing dimensions from this package (`@react-native-community/cameraroll`), didn't work
2. Sourcing dimensions from `expo-media-library`, didn't work
3. Sourcing dimensions from EXIF data via `react-native-exif` and `react-native-ffmpeg`, didn't work (which suggests perha

[2019-12-06 22:10] ddr2108 commented on #95
@fairlycasual what was your solution - I'm running into a similar issue with `'RCTAssetsLibraryRequestHandler.h' file not found`

[2019-12-07 07:29] jwmLLL commented on #111
i use sdwebImage in rn Image can not display , how can i change ph://  path

[2019-12-09 08:54] sshmyg commented on #91
I have a bit different error, but same conditions, try to save video file.
`ExceptionsManager.js:44 Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.)`
Any suggestions?
This error occur on ios emulator. On real device promise `CameraRoll.saveToCameraRoll` never resolves.

[2019-12-09 20:55] bobber205 commented on #41
I am currently trying lots of different values for `groupName` without ANY value being set for `groupType` and I get nothing.

[2019-12-10 12:26] Dagurmart commented on #113
I get this error after upgrading Expo to version 36

[2019-12-11 10:54] rishabh876 opened #115 "Can't create Album on Android 10 Devices"
# Bug
`CameraRoll.save(uri, {type: "photo", album: config.appName});`
Album creation fail in CameraRollModule.java - 141
Error: "Album Directory not created. Did you request WRITE_EXTERNAL_STORAGE?"
In Logcat I get
`Got a deoptimization request on un-deoptimizable method boolean`

I do have storage permission. Only happens on few devices

## Environment info

[code]

Library version:  "@react-nati

[2019-12-11 17:09] piyushamola commented on #52
I have solved this using the expo-media-library
https://docs.expo.io/versions/latest/sdk/media-library/###

async myFunc() {
let uri = "ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001"
let myAssetId = uri.slice(5);
let returnedAssetInfo = await MediaLibrary.getAssetInfoAsync(myAssetId);
console.log(returnedAssetInfo.localUri);
}

[2019-12-12 11:10] rishabh876 commented on #115
Refer : https://commonsware.com/blog/2019/06/07/death-external-storage-end-saga.html
Workaround:

[2019-12-12 23:18] lucastschmidt commented on #113
Me too ... same error =/ after upgrading version 36

[2019-12-13 07:27] yuanbolin opened #117 "请问android该如何保存网络资源图片"
# Question

[2019-12-13 08:31] Dagurmart commented on #113
I stopped using this package and switched to [MediaLibrary](https://docs.expo.io/versions/latest/sdk/media-library/) so now I do

[code]

[2019-12-13 12:54] lucastschmidt commented on #113
Expo removed the package! I will post below the code change we had to do:

Migrate to MediaLibrary. Be aware, the return is different than the CameraRoll.

[code]

[2019-12-19 06:03] foloinfo commented on #41
I had the same issue but maybe in a slightly different situation.

[code]

This param will return all images but with duplicates.
I checked what was returning as a node in the real device and it turns out group_name was in some weird encoding. I think this string means `All Photos` in Japanese.
I ended up manually filtering nodes using this string. (not with params but js filter)

[code]

I'm gues

[2019-12-24 14:05] Obi1Kennoby opened #118 "Pagination does not work correctly [Android]"
# Bug

I have around 1000 photos on my phone and when I try to load them by chunks (15 photos per time) only 109 photo loaded but if set chunk size to 200, I be able to load 325 photos

## Environment info
System:
    OS: macOS 10.15.1
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Memory: 32.89 MB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.12.0 - /usr/local/

[2019-12-30 06:01] nihp commented on #113
My getPhotos() method flickering and it did not display all images in the Library of my phone.

Can anyone have any solution. Same error is reproducible again

[2019-12-30 06:03] nihp opened #119 "While loading the imges of library it get flickering whole images"
While loading the images from the Library.

First it gets flickering whole images while loading and shows all the images
Second time it shows only some images and failed to load all the images

[2019-12-30 09:04] nihp commented on #75
I am getting an error **undefined is not an object (evaluating '_cameraroll.CameraRoll.getPhotos)**

Did anyone faced this issue?

[2019-12-30 09:06] nihp commented on #75
Image is flickering while loading and returned all images. After some time if I navigate to the same screen it shows some images.

[2019-12-30 09:49] nihp commented on #113
Fixed by

import CameraRoll from "@react-native-community/cameraroll";

[2019-12-31 20:12] dcenatiempo commented on #95
Same issue here. I'm on RN 60.5, just trying to install @react-native-community/cameraroll. At first I ignored the install instructions which said to manually link. After that didn't work, I tried manually linking. Either way I can't seem to properly install this package. Help!!!

[2020-01-02 05:30] nihp commented on #47
I am also using cameraroll to get all photos. I need to load 40 and then 40 images.

It not fetching all images. First 40 images are only visible all the other images are not shown in UI.

Sometimes it fetching all images but not showing the images loading it loading all the images again and again. So it shows as flickering of the grid

[2020-01-04 00:19] albullington opened #121 "End_cursor always returns null when groupTypes set to "All" in Android"
# Bug

There is no way to paginate in Android when groupTypes is set to "All." The end_cursor always returns null. However, an end_cursor is returned on iOS when groupTypes is "All."

The end_cursor works correctly in Android when groupTypes is set to "Album" and a corresponding groupName is used.

## Environment info

[code]

Library version: 1.3.0

## Steps To Reproduce

1. Set groupTypes: "All"

[2020-01-06 21:56] bobber205 opened #123 "Warnings to devs: Don't uniq or do any manipulation by fileName -- iOS 13 makes this impossible"
# Bug

With a recent update to iOS 13 the filenames returned by this library for all recently taken photos is "Adjustments.plist". If were uniquing by filename to ensure no dup'd photos were presented this will cause issues (obviously). I am uniquing by uri instead.

## Environment info

React native info output:

[code]

Library version: Latest

No code is needed to reproduce but it does require

[2020-01-06 22:00] bobber205 opened #124 "Is it possible to have two timestamps -- one from the image meta data and one for the file meta data?"
Let's say you have a photo from a few months ago you've edited with a photo editing tool and saved locally to your device.

With how getPhotos() currently works it only returns the timestamp contained in the image meta data -- so if your app doesn't modify that it's as if you took the altered photos months ago requiring a user to scroll and scroll to find it.

Instagram and other apps seem to be t

[2020-01-07 03:52] squalvj commented on #41
i got the same issue, cannot get from favourite in IOS albums

[2020-01-08 02:48] thekevinbrown commented on #72
We've also had a report from an iOS user that they can't find all their photos in our app. They had enabled Settings -> Photos -> Optimise iPhone Storage instead of Download and Keep Originals.

We should look into how we can access cloud stored photos for users on both platforms.

[2020-01-08 14:32] plus- commented on #110
Can we reopen this issue? @billdami proposition is valid, anyone trying to load the camera roll into thumbnails can't use the library as is at the moment.

[2020-01-08 14:38] pribeh commented on #110
I'll third @billdami 's recommendation. This seems like functionality that should reside in the library.

[2020-01-08 16:05] zubjorge opened #125 "Exif data missing on iOS but working on Android"
# Bug

I am taking photos with **react-native-camera** and using this lib in combination with **piexifjs** and **react-native-fs** to set up Exif data.

## Environment info

System:
    OS: macOS 10.15.2
    CPU: (8) x64 Intel(R) Core(TM) i7-8569U CPU @ 2.80GHz
    Memory: 2.00 GB / 16.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 13.2.0 - /usr/local/bin/node
    Yarn: 1.19.2 - /usr/lo

[2020-01-09 02:34] thekevinbrown commented on #47
I think we're experiencing this with a user on iOS. I'll have a look and see if we can fix it.

[2020-01-09 06:31] safaiyeh commented on #73
Hey @bartolkaruza I would like to take this on.

What is needed for this to be 100% complete?

[2020-01-09 10:39] 1280103995 opened #126 "No secondary request permission"
"@react-native-community/cameraroll": "^1.3.0"

# Bug

The first time CameraRoll.save () is called, a dialog box for requesting permissions pops up. After rejection, a second call no longer pops up.
--------------------------------------------------------------
 React Native Environment Info:
    System:
      OS: macOS 10.14.5
      CPU: (6) x64 Intel(R) Core(TM) i5-8500B CPU @ 3.00GHz
      Memo

[2020-01-10 03:05] Kuhne1 commented on #125
The reason for this is that on the IOS side in the RNCCameraRollManager.m File.
The library uses, "creationRequestForAssetFromImage" if you look into the apple developer docs you will find this section.

"A UIImage object does not contain all metadata associated with the image file it was originally loaded from (for example, Exif tags such as geographic location, camera model, and exposure paramet

[2020-01-10 09:20] 1280103995 commented on #126
Sorry, iOS does not allow re-request

[2020-01-10 09:20] #126 closed

[2020-01-10 14:03] sospedra opened #127 "Support 0.60 and 0.61"
# Question

When installing with `react-native` v0.60 and v0.61 I get a peer dependencies warning.
It's caused because the max lib level stated by package.json is v0.59.

[code]

Does the lib needs changes? Or bumping the package.json peer dependency clamp will solve it.

Thank you.

[2020-01-10 20:02] bugsniper opened #128 "CameraRoll.saveToCameraRoll is not a function(Expo)"
I am trying to store images which are taken using React Native Camera library to Gallery on my Expo project.

When the user presses a button the following function gets triggered:
[code]
`takeSnapshotAsync` is working properly and able to get valid *data-uri*.
But The debugger shows the following error on `CameraRoll`:
[code]
Following is Fullcode.
[code]
Environment:
[code]

[2020-01-12 23:22] JacobTBralish commented on #95
Same issue on RN 60.4. Did the manual install and cannot get xcode to build because of this issue. Haven't been able to get it to work at all.

[2020-01-14 19:11] stardevrk commented on #123
Hi @bobber205. Did you resolve this issue?

[2020-01-14 19:19] bobber205 commented on #123
How would I have resolved it? This is a bug either with the library or with iOS 13.

[2020-01-14 19:25] stardevrk commented on #123
Then did you remove this library from your project? What is the alternative solution?

[2020-01-14 19:26] bobber205 commented on #123
I am simply uniquing by uri instead of filename. (I said that in the OP)

[2020-01-14 19:29] stardevrk commented on #123
I need to read file by uri and upload that file to the firebase. But all functions can not handle such uri.
Do you have any solution?

[2020-01-20 03:18] thekevinbrown commented on #118
I wonder if this is related to #47.

[2020-01-20 04:40] thekevinbrown commented on #47
The problem on Android is we're using Date Taken as a pagination mechanism, but there's no guarantee that photos will have a different timestamp:

[code]

So when we end up with 20 photos on the same timestamp, the page info quite happily tells us to only fetch photos older than, say `1566866252000`, but of course that skips more photos than it is meant to. Working on a patch for the Java/Android

[2020-01-20 05:30] thekevinbrown commented on #118
Having looked at it, I think this is very much a duplicate of #47. I don't have the ability to close this issue, but perhaps it'd be best if we tracked the conversation there.

[2020-01-20 06:15] thekevinbrown commented on #47
Ok, on iOS the implementation looks deterministic at least, but it also looks like it'd perform pretty terribly because it does a scan through the photos until it finds one that matches a URI, then it continues for the page size and exits.

@bartolkaruza Would you guys accept a PR to improve the performance here that uses [objectsAtIndexes:](https://developer.apple.com/documentation/photokit/phfet

[2020-01-20 06:30] thekevinbrown opened #131 "Where is CHANGELOG.md?"
# Question

The Pull Request template mentions that we should update this file. Does it still exist?

If so: Where is it?
If not: Could we update the PR template to not mention this?

[2020-01-20 08:51] bartolkaruza commented on #47
@thekevinbrown yes, that sounds like a much needed improvement. I suspect it will fix (or improve) #83

[2020-01-20 08:52] #47 closed

[2020-01-20 09:10] bartolkaruza commented on #47
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-01-20 09:11] bartolkaruza commented on #118
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-01-20 09:15] bartolkaruza commented on #131
So the source of this issue is that the project uses react-native-community wide templates https://github.com/react-native-community/.github/tree/master/.github , which we shouldn't edit directly. I'll make a local PR template which removes that line.

[2020-01-20 09:18] #131 closed

[2020-01-20 09:39] bartolkaruza commented on #128
Hi there, thanks for reporting! As far as I know, Expo doesn't include the react-native-community/cameraroll in it's binaries because there is an expo alternative library available: https://docs.expo.io/versions/latest/sdk/media-library/

It's probably easiest to use that instead of cameraroll for Expo projects.

[2020-01-20 09:39] #128 closed

[2020-01-20 09:39] #127 closed

[2020-01-20 09:52] thekevinbrown commented on #131
Thanks!

[2020-01-20 19:03] zubjorge commented on #125
Should this possible fix be included into master ?

[2020-01-21 01:08] phyzical commented on #125
ive created a fork and a pr here https://github.com/react-native-community/react-native-cameraroll/pull/134

[2020-01-22 01:46] JulioDuram commented on #95
Try this: https://github.com/react-native-community/react-native-cameraroll

The React Native Community package worked for me instead of the original react-native-camereroll

[2020-01-22 16:29] RomanKameniev opened #135 "Can't get uri of photo on ios"
Hi there.
I tried to use cameraroll to display pictures from phone in my application and  give user ability to select photo from my flat list.
For now i taking name and uri, but uri have format ph//0F4DC998-56ED-48AD-B503-BC418537A4FD
How can i transform this uri to valid format and display photo in my application?

[2020-01-23 11:14] chaitanyaevoke opened #136 "Unable to access CameraRoll.saveToCameraRoll"
I am trying to save an image to camera roll in iOS.
Library : @react-native-community/cameraroll - 1.3.1

**Steps followed for installation :**

npm install @react-native-community/cameraroll
react-native link @react-native-community/cameraroll
cd ios
pod install

**Added following in info.plist**

NSPhotoLibraryUsageDescription
NSPhotoLibraryAddUsageDescription

Below is the error while I am tryi

[2020-01-23 11:17] chaitanyaevoke commented on #136
Sorry, I forgot to add the error

**TypeError: null is not an object (evaluating '_nativeInterface.default.saveToCameraRoll')**

[2020-01-24 13:55] SanjanaTailor commented on #113
It is not working for me after adding same import given there.
same error getPhotos

[code]

[2020-01-27 06:32] xKRUTOIx commented on #135
Hello, it's weird because I was able to display images in FlatList on iOS with ph-format. Although I couldn't use this ph-path to send it to a server.

Anyway, I've solved this problem with this module – https://github.com/itinance/react-native-fs

Take a look at this function:
![image](https://user-images.githubusercontent.com/6790512/73154235-bc5c2580-40e7-11ea-88c6-2beacacc6773.png)

If it won'

[2020-01-30 07:15] Jarred-Sumner opened #138 "How to make CameraRoll.getPhotos about 2x faster on iOS"
# Bug

I'm investigating why loading images from the camera roll within a custom image picker is slow. in my app.

There seem to be two main reasons:
1. Loading the actual images is slow *(not this issue)*
2. Fetching the list of images to load is slow **(this issue)**

From instruments profiling: (in release mode)
![image](https://user-images.githubusercontent.com/709451/73426158-75894e00-42e8-11

[2020-01-30 23:50] thekevinbrown commented on #138
There's also the general issue that we are looping through all the images and loading them in order to find a page. It'd be much better if we could make iOS work like Android does now, which is that the page info passed in is enough information to slice a page straight out of the result set instead of looping and looking for a URI.

[2020-01-30 23:53] thekevinbrown commented on #117
Images that are not on the phone, accessible by network, are not currently loaded by this library. There's another issue (#72) we're tracking for this functionality.

[2020-01-31 05:57] Jarred-Sumner commented on #138
It looks like the Photos framework doesn't make cursor-based pagination
easy, however the aray it returns is a lazily-loaded array and you can
slice through it by index/offset.

If we switched to offset/limit-based pagination (rather than cursor-based)
it would probably be able to fetch a long list of photos much quicker.

On Thu, Jan 30, 2020 at 3:50 PM Kevin Brown <notifications@github.com>
wrot

[2020-02-01 12:55] Jarred-Sumner commented on #138
I got it down to 10ms-20ms per page of photos/videos but I'm not using this library anymore

[2020-02-01 12:55] #138 closed

[2020-02-02 04:39] natanaeladit commented on #136
I am having the same error. any solution?

[2020-02-05 09:28] bartolkaruza commented on #127
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-02-05 09:28] bartolkaruza commented on #131
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-02-08 02:08] bartolkaruza opened #141 "[Android] Re-open Use DCIM direcotry for saveToCameraRoll #94"
@FrikkieSnyman I opened this issue so we don't loose track of the changes you made in #94

[2020-02-08 02:09] bartolkaruza commented on #136
RN version? This issue is caused by something going wrong in linking the library. The native code is not available in your app.

[2020-02-08 02:10] bartolkaruza commented on #135
Closing as duplicate of #52

[2020-02-08 02:10] #135 closed

[2020-02-08 03:10] bartolkaruza commented on #125
Fixed by
#134 🎉 This PR is included in version 1.4.1 🎉

The release is available on:

npm package (@latest dist-tag)
GitHub release
Your semantic-release bot 📦🚀

[2020-02-08 03:10] #125 closed

[2020-02-08 03:11] bartolkaruza commented on #119
@nihp this issue will need a lot more context for us to be able to help you

[2020-02-08 03:12] bartolkaruza commented on #121
@thekevinbrown any ideas on this one?

[2020-02-08 03:13] bartolkaruza commented on #124
Happy to receive a PR for this :)

[2020-02-08 03:14] bartolkaruza commented on #107
Happy to review a PR for this :)

[2020-02-10 05:01] legendforfree opened #142 "#import <React/RCTBridge.h>——'React/RCTBridge.h' file not found"
I have a problem with `react-native-cameraroll`,when i try flow these step,this error log happend.
## step

1. In XCode, in the project navigator, right click Libraries ➜ Add Files to [your project's name]
2. Go to node_modules ➜ @react-native-community/cameraroll and add RNCCameraroll.xcodeproj
3. In XCode, in the project navigator, select your project. Add libRNCCameraroll.a to your project's Bu

[2020-02-10 09:08] liuche692326532 commented on #142
Same as mine

[2020-02-10 09:36] legendforfree commented on #142
its seems a common problem with `react-native-cameraroll`,i was stuck in here all day

[2020-02-13 12:41] alfayez91 opened #143 "Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.) iOS"
# Question
I am trying to store images which is getting from link to Gallery.

**code:**
`
let image = 'https://i.picsum.photos/id/190/200/300.jpg'
CameraRoll.saveToCameraRoll(image, 'photo').then(r => {
            Alert.alert('alert', 'saved successfully .', [{ text: 'okay'}]);
        })
        .catch((err) => {
            console.log(err);
            Alert.alert('error', ' error '+ err, [{

[2020-02-14 15:09] Peretz30 commented on #142
any updates?

[2020-02-14 18:32] ramon90 commented on #143
Same issue

[2020-02-17 00:05] legendforfree commented on #142
its a new project,use "@react-native-community/cameraroll": "^1.4.1",i will retry 1.2.1.thanks

[2020-02-17 02:51] legendforfree commented on #142
the problem is solved,its wrong about this
![image](https://user-images.githubusercontent.com/46747508/74620068-cadfaf00-5172-11ea-8888-1a2dd5b29b05.png)
libRNCCameraroll.a
---
when i see react-native-cameraroll teach class in youtube,i notice its a wrong link
![image](https://user-images.githubusercontent.com/46747508/74620179-3033a000-5173-11ea-90eb-4452b75d7e78.png)
its should link libreact-nat

[2020-02-17 02:51] #142 closed

[2020-02-17 07:42] Petagorus commented on #143
Same issue

[2020-02-18 06:06] a289459798 commented on #143
Same issue

[2020-02-18 16:32] ceo-epiclions commented on #142
This works fine. (RN v.0.61.5)
 Please fix the README.md file to prevent further pain to others (I've spent for 3 hours for this...)

[2020-02-19 09:15] 1280103995 opened #144 "React/RCTImageLoaderProtocol.h' file not found"
<img width="590" alt="2020-02-19 17 09 05" src="https://user-images.githubusercontent.com/17424486/74819140-e990a200-533a-11ea-8413-d3a8d40136f0.png">

**I got this error when I build using xcode**

[code]

Version 1.3.0 doesn't work either

[2020-02-20 07:52] 1280103995 commented on #144
I fixed it.
First execute ```unlink```, then delete ```RNCCameraroll.xcodeproj``` in ```Libraries```, delete ```libRNCCameraroll.a``` in ```Link Binary With Libraries```, and finally Manual installation.
Tip: If ```RNCameraroll.xcodeproj```exists, also delete it.

[2020-02-20 07:52] #144 closed

[2020-02-21 00:17] yaoyongmin commented on #95
devDependencies": {
    "@react-native-community/cameraroll": "^1.4.1",

[2020-02-22 09:39] yannicklaclau commented on #143
same issue - roll back to 1.4.0 fixed it, as @Petagorus suggested

[2020-02-24 19:52] izzykreie opened #145 "cameraRoll.saveToCameraRoll isn't saving my video"
I'm trying to save a video to my camera roll and im getting this error:

invariant violation: the second argument to saveToCameraRoll must be 'photo' or 'video' or 'audio' you passed video.

Here is my save/record function:

[code]

I've tried removing the brackets and it still didn't resolve the warning.

[2020-02-25 18:45] hcygit commented on #143
same issue and rollback to 1.4.0 works

[2020-02-26 07:27] s123121 commented on #138
@Jarred-Sumner
Just curious, what are you using right now? I am having performance issue right now with the library

[2020-02-26 07:35] Jarred-Sumner commented on #138
@s123121 https://twitter.com/jarredsumner/status/1223633060551225344

[2020-02-27 01:13] izzykreie commented on #113
I'm have the same issue. @SanjanaTailor @nihp what did you guys do to fix this?

[2020-02-27 01:30] izzykreie commented on #143
@hcygit version 1.4 of what?

[2020-02-27 01:32] izzykreie commented on #143
@yannicklaclau how do I roll back to 1.4 of a library?

[2020-02-27 03:28] Yieron opened #146 "How to use saveToCameraRoll and save ?"
# Question

CameraRoll.saveToCameraRoll
CameraRoll.save
 On Android devices, I don't know how to use these methods. I have tried many ways to ask for your help

CameraRoll.saveToCameraRoll('https://i.picsum.photos/id/190/200/300.jpg', 'photo')
                    .then(resolve)
                    .catch(reject => {
                        console.log('====================================');

[2020-02-27 04:04] xcniao opened #147 "Failed to build with RN 0.64 'React/RCTImageLoaderProtocol.h' file not found"
Failed to build with RN 0.64 'React/RCTImageLoaderProtocol.h' file not found
 "@react-native-community/cameraroll": "^1.4.1",

[2020-02-27 17:23] izzykreie commented on #146
@Yieron I'm having the same issue, except with IOS. Could you get the save to camera roll function to work with IOS? I haven't tried android. I keep getting error: null is not an object.

[2020-02-27 18:13] izzykreie commented on #146
@Yieron im not sure if this applies to android but I just did pod install and it updated my library, it works well now for my IOS device.

[2020-02-27 18:15] izzykreie commented on #145
Update: code works fine. The issues resided with the linking of my libraries. Had to run pod install in my iOS folder.

[2020-02-27 18:15] #145 closed

[2020-02-28 06:09] Yieron commented on #146
I have solved this problem, which is caused by the targetsdkversion conflict of Android.
ext {
        buildToolsVersion = "29.0.0"  //28.0.3
        minSdkVersion = 16
        compileSdkVersion = 29  //28
        targetSdkVersion = 25  //28
    }

[2020-03-01 03:23] songs777 opened #148 "How to load all photos at once？"
# Feature Request
How to load **all photos** at once？
# Environment info
[code]
# code
[code]

[2020-03-02 01:18] baotoan1905 commented on #147
How to fix it ? I got same issue

[2020-03-02 02:11] truong12 commented on #147
@baotoan1905 you can remove `#import <React/RCTImageLoaderProtocol.h>` in `node_modules/@react-native-community/cameraroll/ios/RNCCameraRollManager.m`

[2020-03-02 16:07] jsellam commented on #73
Hi,
Personaly, I need the mime-type in getPhotos.

Best regards,
Jérémie.

[2020-03-03 14:14] PaperbagWriter commented on #88
Opted for a temporary solution (removing longitude-latitude information)
I'd love that PR if you still have those ideas, or if you've made those changes in your project 😄

[2020-03-04 14:39] imanshu1 commented on #113
Any updates on this ?

[2020-03-04 20:49] izzykreie commented on #113
@imanshu1 had to install the library and cd into my iOS folder and run command "pod install" I never did a pod install for the library.

[2020-03-05 05:09] tulga1970 commented on #93
Would this bug be fixed after this PR is merged https://github.com/react-native-community/react-native-cameraroll/pull/114 ?

[2020-03-05 07:31] imanshu1 commented on #113
@izzykreie what if i don't have pod file any podfile in my project, is there any other option for configuration?

[2020-03-05 13:11] izzykreie commented on #113
Are you developing on android? Or iOS? if you're trying to run this project on an iOS device you will have a pod file once you run the command to download the library. if you're trying to run on an android it is a different set of steps that do not requite a pod file. they use a manifest and gradle file in react native. if you are using iOS like I am and need to get that pod file, all you need to

[2020-03-07 06:48] sm2017 commented on #80
@bartolkaruza I have same issue

[2020-03-12 07:05] lordenas commented on #93
I have the same error. Is there a solution for this problem?

[2020-03-12 13:28] rafaelcavalcante commented on #93
I've forked this repo and supressed the latlong information which makes the application crash. You can install via npm/yarn using this repo: https://github.com/rafaelcavalcante/react-native-cameraroll

[2020-03-12 14:29] Peretz30 commented on #143
@izzykreie `yarn upgrade @react-native-community/cameraroll@1.4.0`

[2020-03-13 02:37] bunsha commented on #89
if (Platform.OS === 'ios') {
  let arr = fileUri.split('/')
  const dirs = RNFetchBlob.fs.dirs
  filePath = `${dirs.DocumentDir}/${arr[arr.length - 1]}`
} else {
  filePath = audioDataUri
}

[2020-03-16 11:52] vmenekos opened #152 "Can CameraRoll.deletePhotos delete video?"
Is it possible to delete a video from camera roll?
If not it would be a feature that should be added.

[2020-03-18 14:33] imranmirza-nxb opened #154 "Unable to get Location object from CameraRoll.getPhotos edges"
After capture and saving photo to camera role I need to get location(Longitude/Latitude) from where photo was captured. Is this possible as in the documentation we can get Location object inside edges array but for my case there is no object for Location?

[2020-03-22 15:19] ahsanihsan commented on #143
I am still getting this issue on 1.4.0

Any update?

[2020-03-23 08:26] PhuongNguyenETIT opened #155 "getAlbums is not funtion"
# Bug

## Environment info

React native info output:

[code]
Library version: 1.4.1

Describe what you expected to happen:

1.
2.

## Reproducible sample code
CameraRoll.getAlbums({
      assetType: 'Photos'
    })
      .then(data => {
        console.log(data);
      })
      .catch(err => {
        console.log(err);
      });

[2020-03-23 10:35] matthewadel commented on #147
Changing
#import <React/RCTImageLoaderProtocol.h>
to
#import <React/RCTImageLoader.h>
fixed the build issue for me

[2020-03-23 10:35] matthewadel commented on #144
Changing
#import <React/RCTImageLoaderProtocol.h>
to
#import <React/RCTImageLoader.h>
fixed the build issue for me

Don't forget to clean your DerivedData folder

[2020-03-23 10:46] netdown commented on #155
The commit which adds this function is not included in the latest release (dont ask why..). You have to pull the current master branch.

[2020-03-24 08:10] wuhuanda commented on #143
Same issue. No one manage the issue?

[2020-03-24 08:32] PritishSawant commented on #115
Even i am facing this issue. I added  android:requestLegacyExternalStorage="true" to Android Manifest but the issue persists on the emulator. I dont have  a real device to test on

[2020-03-24 09:54] tudiantuan commented on #52
I get error Error: ENOENT: no such file or directory, open 'ph-upload://5A73648C-7869-4C77-B3C3-DF437B4F87BA/L0/001'  when use RNFS.readFile(imagePATH, 'base64')

[2020-03-25 00:35] ahsanihsan opened #157 "Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.) iOS"
# Bug

`Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.)
    at Object.fn [as saveToCameraRoll] (NativeModules.js:99)
    at Function.save (CameraRoll.js:163)
    at Function.saveToCameraRoll (CameraRoll.js:169)
    at _callee2$ (VM5 index.bundle:209)
    at tryCatch (runtime.js:45)
    at Generator.invoke [as _invoke] (runtime.js:274)
    at Generator.prototype.<compute

[2020-03-25 09:06] marlti7 commented on #147
same problem in rn 0.59.9

[2020-03-25 09:06] marlti7 commented on #147
not work for me in rn 0.59.9

[2020-03-26 08:19] #147 closed

[2020-03-26 08:33] bartolkaruza commented on #147
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-03-26 09:25] #155 closed

[2020-03-26 18:35] ivan-jorge001 commented on #142
I cant find the file libreact-native-cameraroll.a

[2020-03-27 03:47] billxie1988 opened #159 "Error Domain=PHPhotosErrorDomain Code=-1 "(null)""
- the code below will cause error on iOS 13 devices when import uri is https://xxxxx.png

```assetRequest = [PHAssetChangeRequest creationRequestForAssetFromImageAtFileURL:inputURI];```

- this way works well

[code]

[2020-03-27 13:58] chai86 commented on #52
This worked for me [](https://github.com/ivpusic/react-native-image-crop-picker/issues/384#issuecomment-317628146)

[2020-03-28 14:36] Nextt1 opened #160 "Not able to download an image from URL iOS"
I'm trying to download an image from the URL using the following code but getting an error.

    CameraRoll.saveToCameraRoll(data.image)
            .then(Alert.alert('Success', 'Photo added to camera roll!'));

Error:

    [Error: The operation couldn’t be completed. (Cocoa error -1.)]

I did an automatic installation of the library since I'm using 0.61.5 version of react-native and I'm using 1.5

[2020-04-01 18:38] ErtugrulBEKTIK commented on #45
I have same problem. Is there any update?

[2020-04-01 20:08] scarlac commented on #45
I think it was fixed, merged, and resolved entirely unless there is a regression.

[2020-04-01 22:00] ErtugrulBEKTIK commented on #45
Same issue exist in standard CameraRoll in react-native and I used this one.
After using @react-native-community/cameraroll version issue was fixed.
Sorry about that.

[2020-04-02 14:00] yvbeek commented on #52
This is still kinda difficult on iOS. Getting a photo or video from the user's library, so that you can upload it to a server is a common use case.

How can we make this easier?

[2020-04-04 11:40] tronin commented on #143
The same problem with 1.5.2

[2020-04-04 14:59] SteveTro commented on #157
Did you have all the nessesary permissions in the Podfile and in your Info.plist?
I had that error a few times ago and i think i remeber that it was a permission problem

[2020-04-04 15:11] SteveTro commented on #155
@netdown

I still get an error using getAlbums()

i installed the latest version via npm

` npm install @react-native-community/cameraroll@latest
`
and also tried it directly via github

` npm install react-native-community/cameraroll
`
my package.json

`"@react-native-community/cameraroll": "^1.5.2"`

if i check the CameraRoll.js in the node_modules folder the method is also there

[code]

Any id

[2020-04-04 15:17] netdown commented on #155
@SteveTro If you are trying on android, run a gradlew clean first. If does not work, try to remove and install the package again. It's ok for me.

Also make sure import and function call is correct:
`import CameraRoll from '@react-native-community/cameraroll';
CameraRoll.getAlbums({
	assetType: 'Photos',
}).then(res => {});`

[2020-04-04 16:08] SteveTro commented on #155
@netdown

i copied your code to my project and run

`npm remove @react-native-community/cameraroll && npm install @react-native-community/cameraroll && cd android && .\gradlew clean && cd .. && react-native run-android`

but the error is still there.
Its driving me crazy cause i can see the native code in node_modules but its not working

[2020-04-04 18:28] netdown commented on #155
@SteveTro Try to link it manually. If still no success, try it with a blank project.

[2020-04-05 04:26] HicoderDR commented on #157
same problem

[2020-04-06 16:52] syedrahaman92 commented on #93
Yes, This bug will be fixed after #114 PRis merged

[2020-04-07 03:07] roshan-p commented on #157
same error

[2020-04-07 03:32] HicoderDR commented on #157
I solved it by roll back to version 1.4.0.
**yarn upgrade @react-native-community/cameraroll@1.4.0**

[2020-04-07 03:39] roshan-p commented on #160
Did you find any solutions ?

[2020-04-07 08:23] roshan-p commented on #157
thanks it's work

[2020-04-07 21:48] enisinanaj commented on #136
How is your react-native core being linked to the app?
Are you using Pods or manual linking?

I'm sure there must be something wrong with the Header Search Path

[2020-04-07 21:49] enisinanaj opened #162 "Unable to build app - Variable inputImage not used"
# Bug

The app cannot be built when the library is linked manually to it.
The error is:

Referring to the variable `inputImage` in RNCCameraRollManager:saveToCameraRoll

[code]

## Environment info

[code]

Library version: `"@react-native-community/cameraroll": "^1.5.2"`

## Steps To Reproduce

1. Link the library manually
2. Add the path to search for the headers in
3. Run the app on the device

[2020-04-08 07:40] zhaochongyang01 commented on #157
Hello, I set the version to 1.4.0 according to your solution, but it still cannot be used after testing. My react-native version is 0.62.0. What was your successful react-native version?

[2020-04-08 08:42] HicoderDR commented on #157
"react-native":"0.61.4"

[2020-04-08 18:38] anthonykrivonos commented on #143
Can confirm with @tronin. Only got image saving to work via the following solution

[2020-04-09 05:22] kiransawant15 opened #164 "CameraRoll.saveToCameraRoll doesn't save images to phone gallery"
When i run following code photo doesn't get saved in gallery all the permissions are set in androidmanifest.xml file

The following code prints promise rejected in console please help

takePicture = async () => {

if (this.camera) {
  const options = { quality: 0.5, base64: true };
  const data = await this.camera.takePictureAsync(options);
  console.log(data.uri);
  console.log(CameraRoll.getAlbu

[2020-04-09 06:17] kiransawant15 commented on #164
Further if i i dont catch the promise and make it like below

[2020-04-09 07:55] kiransawant15 commented on #19
When i run following code photo doesn't get saved in gallery all the permissions are set in androidmanifest.xml file

The following code prints promise rejected in console please help

takePicture = async () => {

if (this.camera) {
const options = { quality: 0.5, base64: true };
const data = await this.camera.takePictureAsync(options);
console.log(data.uri);
console.log(CameraRoll.getAlbums);
Cam

[2020-04-09 08:29] djGrill commented on #147
This solve this issue for me on:
- `"react-native": "0.60.6"`
- `@react-native-community/cameraroll": "1.4.0"`

The reason for using `1.4.0` is because of the `PHPhotosErrorDomain error -1` issue:
#143
#157

[2020-04-09 08:30] djGrill commented on #143
This solve this issue for me on:
- `"react-native": "0.60.6"`

Though this was also necessary: https://github.com/react-native-community/react-native-cameraroll/issues/147#issuecomment-602512409

[2020-04-09 08:30] djGrill commented on #157
This solve this issue for me on:
- `"react-native": "0.60.6"`

Though this was also necessary: https://github.com/react-native-community/react-native-cameraroll/issues/147#issuecomment-602512409

[2020-04-09 10:23] vforvasile commented on #73
any updates here?

Media Size is really important.

[2020-04-09 11:39] openwell commented on #19
@joseguerrerov will like to know if the permission function will be required for ios.
Also when I followed your procedure for android... I get something like this in return
`content://media/external_primary/file/92336`
And I cannot see the image in the android gallery ... will like to know if there is any other thing to do.

[2020-04-09 14:45] kiransawant15 commented on #19
hi same here i changed above code
added one line for permission
let permission = await PermissionsAndroid.request(
      PermissionsAndroid.PERMISSIONS.WRITE_EXTERNAL_STORAGE);
and it worked but again i am getting same thing content://media/external_primary/file/92336

not able to see this image in gallery i was able to see above file in my phones MyFIle application then under Pictures Folder i wa

[2020-04-09 14:52] openwell commented on #19
@kiransawant15 without the camera roll package... can you console.log data.uri from takePictureAsync(), and kindly update us on the output.

[2020-04-09 15:10] openwell commented on #19
@kiransawant15 download the lastest react-native camera and retry

https://github.com/react-native-community/react-native-camera/releases/tag/v3.22.1

[2020-04-09 19:03] kiransawant15 commented on #19
downloaded new version now it is working properly

[2020-04-10 01:28] TristanH commented on #147
I was having this issue in 1.5.2 -- downgrading to 1.4.0 worked for me!

[2020-04-10 01:29] TristanH commented on #157
I was having this issue in 1.5.2 -- downgrading to 1.4.0 by itself worked for me!

[2020-04-10 10:09] tuantai0625 commented on #41
Hey guys, I've checked native code in this file
https://github.com/react-native-community/react-native-cameraroll/blob/53e42df323083441b40c532112dc0dcfdf22089b/ios/RNCCameraRollManager.m
The problem is from the way they groupTypes is handled. Bugs is from these codes:
https://github.com/react-native-community/react-native-cameraroll/blob/53e42df323083441b40c532112dc0dcfdf22089b/ios/RNCCameraRollMa

[2020-04-10 16:38] pribeh commented on #162
Same here.

[2020-04-10 16:40] enisinanaj commented on #162
It’s enough to comment out the variable. Check out my pr

[2020-04-13 12:04] maks-harakhovich commented on #157
The same issue on 1.5.2, downgraded to 1.4.0.

[2020-04-14 03:15] vzts commented on #113
I get this in Android. Our service was receiving a lot of this error when user selected nothing but just back pressed.
[code]
This is a promise so it didn't really make a crash but it does give an alert on our analytics.

I suspect the culprit is below code
[code]
when `RNCCameraRoll.getPhotos(params);` does not return a proper `PhotoIdentifiersPage`.

[2020-04-14 03:35] vzts commented on #113
In my case, I get this error only on Android.
The code I'm using:
[code]
The error I'm getting:
[code]
This is a promise so it didn't really make a crash but it does give an alert on our analytics.

I suspect the culprit is below code
[code]
RNCCameraRoll.getPhotos(params) does not seem to return a proper PhotoIdentifiersPage.

lib version: 1.5.2

[2020-04-14 05:57] vzts commented on #113
Okay... so it turned out that somehow `react-native link @react-native-community/cameraroll` did not add
[code]
in MainApplication.java on Android. I thought the linking command would do so, strange.

[2020-04-14 17:19] taschik commented on #157
This issue still persists. The only way to solve it, is to downgrade to 1.4.0.

[2020-04-14 17:20] taschik commented on #160
I think, it's the same issue like this: https://github.com/react-native-community/react-native-cameraroll/issues/157

[2020-04-15 12:37] abdulbasit1248 commented on #160
Same issue with react native version +60

[2020-04-15 13:28] giacomoalonzi commented on #142
Where is the  libreact-native-cameraroll.a file?

[2020-04-17 04:05] ceo-epiclions commented on #142
@giacomoalonzi @ivan-jorge001 Did you run 'pod install' in ios folder?

[2020-04-17 12:00] wibes commented on #164
getting same issue. Please help

[2020-04-21 05:39] dkocich commented on #154
same here with cameraroll: v1.5.2, latest stable RN and Android 10 (Pixel emulator). When I checked with https://play.google.com/store/apps/details?id=net.xnano.android.photoexifeditor or using Google photos gallery I can see that coordinates are saved correctly but nothing appears in Cameraroll edges...

![image](https://user-images.githubusercontent.com/6165660/79829247-d170e980-83a2-11ea-9792-5

[2020-04-21 11:19] hzz780 commented on #162
For me， i meet the same issue.
RN 0.59.10

[2020-04-24 09:04] TuJobs commented on #162
delete it! working with me.

[2020-04-25 05:37] huyhai commented on #142
Where is the libreact-native-cameraroll.a file?

manual install

[2020-04-25 05:45] huyhai commented on #164
same

[2020-04-25 05:46] huyhai commented on #160
same here

[2020-04-25 08:05] 1appstudio opened #166 "Delete Issue:"
const photos = [];

          for(var i=0;i< localIdentifier.length;i++)
          {
              photos.push({ uri: 'ph://'+localIdentifier[i]})
              console.log(localIdentifier[i])
          }

          const alAssetUris = photos.map(({ uri }) => {
            const [, identifier] = uri.match('ph://([^/]+)');
            console.log('identifier '+identifier);
            if (!identifi

[2020-04-26 03:42] MrAlekhin commented on #152
please add this one 🙏

[2020-04-26 12:14] aterribili commented on #113
I used the autolink of react-native 0.60+ and didn't work. Autolink + adding `new CameraRollPackage()` on MainApplication.java `getPackages()` works fine.  Maybe we have some problems on the autolink script.

[2020-04-26 16:54] MrAlekhin commented on #162
the same? should I just downgrade the camera-roll version?

[2020-04-26 17:09] enisinanaj commented on #162
https://github.com/react-native-community/react-native-cameraroll/issues/162#issuecomment-612113183

check this out. it builds afterwards

[2020-04-26 17:09] enisinanaj commented on #162
@MrAlekhin or get this patch here https://github.com/react-native-community/react-native-cameraroll/pull/163

[2020-04-27 01:55] TuJobs commented on #164
Update version 1.5.2 , working with me!

[2020-04-27 02:29] 1appstudio commented on #166
Please tell me how to delete after importing photos from photos app. I have mentioned the code what I used

[2020-04-27 07:16] wibes commented on #164
I just updated still not working for me getting same issue. On some devices its working but not working on "Redmi" devices

[2020-04-28 03:19] Lunziyuan commented on #146
solved my problum, but the targetSdkVersion 25 can't be allow to upload to google shop anymore

[2020-04-28 03:42] Lunziyuan commented on #164
same

[2020-04-28 05:07] Lunziyuan commented on #146
make sure that have 'file:///' before your android uri.
fixed my problum

[2020-04-30 01:29] kufufu9 commented on #160
These caused by https://github.com/react-native-community/react-native-cameraroll/pull/134

[2020-04-30 08:39] windzzf commented on #113
I also encountered the same problem, how did you solve it？

[2020-04-30 08:46] windzzf commented on #136
I also encountered the same problem, how did you solve it

[2020-04-30 12:58] Flouwrian commented on #91
@sshmyg i have the same problem

[2020-05-01 10:37] wibes commented on #164
Any update ?

[2020-05-05 10:02] afashaisakiye opened #167 "React Native CameraRoll.getPhotos API doesn't seem to return"
# Question
For some reason, I have failed to get images data from CameraRoll.getPhtos.
Here is my code
[code]
The code is intended to load images into the state when the component mounts. How can I fix this problem?
Link to question on Stack Overflow ([Link](https://stackoverflow.com/questions/61608955/react-native-cameraroll-getphotos-api-doesnt-seem-to-return))

[2020-05-06 18:46] gabrielgb03 commented on #113
I have the same problem and i can't solve this, how do you fix?

[2020-05-07 04:42] gordonwhitehouse commented on #110
Agree; facing same problem here.

[2020-05-07 17:18] noobvim opened #168 "Thumbnail images"
Hi, this package is unusable if someone wants to implement their own camera roll because the image sizes returned are huge, causing a very noticeable sluggish performance degradation when loading lots of images into FlatList. It would be great to have smaller thumbnail image sizes returned in addition to the regular full size images. Thanks!

react-native-image-resizer is not a valid workaround si

[2020-05-07 17:21] noobvim commented on #110
Just posted [https://github.com/react-native-community/react-native-cameraroll/issues/168](url). Hopefully they will re-engage with this problem.

[2020-05-07 18:40] bartolkaruza commented on #168
Hey there, this is a useful addition to the library and I would be happy to take PR's solving the problem of resizing the images (or retrieving at a smaller size).

[2020-05-07 18:44] bartolkaruza commented on #167
Hey there, thanks for posting. This looks like a question about React state management to me. I see you also already posted it on Stack Overflow, which seems like the right place for this type of question. I'm going to close the issue here because it's not directly related to cameraroll. If you find a defect, specific to this library, let me know and I'll reopen the issue.

[2020-05-07 18:44] #167 closed

[2020-05-07 18:45] bartolkaruza commented on #166
Hi, this looks like a usage question that will probably get better results on Stack Overflow. Closing it here for now, let me know if I'm misunderstanding it and I'll reopen the issue.

[2020-05-07 18:45] #166 closed

[2020-05-07 18:48] bartolkaruza commented on #162
Hey, this should be fixed in the lastest release. Please upgrade, let me know if it's still an issue, I'll reopen.

[2020-05-07 18:48] #162 closed

[2020-05-07 18:53] bartolkaruza commented on #159
Thank you for posting the working code! Closing this as duplicate of #157

[2020-05-07 18:53] #159 closed

[2020-05-07 18:53] bartolkaruza commented on #160
closing as duplicate of #157

[2020-05-07 18:53] #160 closed

[2020-05-07 18:57] bartolkaruza commented on #148
Loop through each page, using the info from the returned `page_info` on `getPhotos`.

[2020-05-07 18:57] #148 closed

[2020-05-07 18:58] bartolkaruza commented on #146
This seems like a usage issue to me. Feel free to post it on Stack Overflow and let me know if there is a specific issue with reproducible steps here and I'll reopen.

[2020-05-07 18:58] #146 closed

[2020-05-07 18:59] bartolkaruza commented on #157
Closing as duplicate of #143

[2020-05-07 18:59] #157 closed

[2020-05-07 19:02] bartolkaruza commented on #143
Does anyone have time to help and make a PR with a fix for this issue? There appears to be a solution at https://github.com/react-native-community/react-native-cameraroll/issues/159#issue-588866924 . I'm happy to review and merge a well tested PR. Cheers

[2020-05-07 19:02] bartolkaruza commented on #157
Does anyone have time to help and make a PR with a fix for this issue? There appears to be a solution at #159 (comment) . I'm happy to review and merge a well tested PR. Cheers

[2020-05-07 19:02] bartolkaruza commented on #160
Does anyone have time to help and make a PR with a fix for this issue? There appears to be a solution at #159 (comment) . I'm happy to review and merge a well tested PR. Cheers

[2020-05-07 23:00] guy-shahine commented on #168
I created a PR from a solution that Jared Sumner provided but didn't have time to create a PR.  I looked in the repo for manual testing guidance but couldn't find any. Any pointers or someone jumping in to help testing this solution is appreciated.

[2020-05-08 06:32] ShotSkydiver commented on #157
I just opened a new PR #172  with the fixes! Works perfectly for me!

[2020-05-08 17:08] marcoskoch commented on #143
PR with adjustment @bartolkaruza

[2020-05-08 19:41] #143 closed

[2020-05-08 19:45] bartolkaruza commented on #157
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-05-08 19:45] bartolkaruza commented on #143
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-05-13 11:00] dokkis commented on #168
I agree this is a must to have for such library and solution based on generating the thumbnail are not good for performance. I looked into it a little bit, for Android we could use:

https://developer.android.com/reference/android/provider/MediaStore.Images.Thumbnails.html

It's deprecated starting from API Level 29 but it's available from API Level 1.
`Return thumbnail representing a specific ima

[2020-05-13 14:59] dokkis opened #174 "CameraRoll.getAlbums() broken in Android API Level 29"
## Summary

CameraRoll.getAlbums() has 2 issues with API Level 29:
1. Exception thrown: `java.lang.IllegalArgumentException: Invalid column COUNT(*) as count.`
2. Exception get swallowed and doesn't return the promise here https://github.com/react-native-community/react-native-cameraroll/blob/master/android/src/main/java/com/reactnativecommunity/cameraroll/CameraRollModule.java#L430 so the functio

[2020-05-13 17:16] dokkis commented on #174
neither GROUP BY or DISTINCT would work on Android Q, the only way that I can think of to achieve this behaviour is having a cursor to scroll all `MediaStore.Images.ImageColumns.BUCKET_DISPLAY_NAME` and found the set of this values, then for each of them create a cursor with filter that will return the size using `getCount`.

I don't know how would look like performance-wise.

[2020-05-13 19:47] jash90 opened #175 "After adding exif loading, the loading time of photos increased 10 times"
After adding this change https://github.com/react-native-community/react-native-cameraroll/commit/ade785e29d24228d3148a6f5581db7a885d029cc photo loading have been increased 10 times.
This feature should be optional.

Please undo the change or add the option to disable it.

[2020-05-14 08:55] r0b0t3d commented on #174
Just did some research. It seems the current solution doesn't works if you targeting api level 29 and above.
Found 2 keys in [ContentResolver](https://developer.android.com/reference/android/content/ContentResolver#QUERY_ARG_SQL_GROUP_BY) that are looks promising but they are added in Android R
[code]
So, the solution could be your suggestion above. But I think you just need 1 query for all media

[2020-05-14 09:24] dokkis commented on #174
@r0b0t3d yep I am working to get together this PR hopefully today

[2020-05-14 10:32] dokkis commented on #174
Created a PR here: https://github.com/react-native-community/react-native-cameraroll/pull/176

[2020-05-15 06:50] cmakhija commented on #164
Any update facing same issues on Redmi phones

[2020-05-16 11:55] PatrissolJuns commented on #113
@gabrielgb03 You just need to rebuild your app. So run `react-native run-android` or `react-native run-ios`. It worked for me

[2020-05-18 01:21] carinlynchin opened #179 "Getting error regarding the manual "compile" statement"
![image](https://user-images.githubusercontent.com/1210918/82165797-6f61b200-9884-11ea-9fe1-c95c8972075b.png)

[2020-05-18 15:29] kigh143 commented on #144
Hello @matthewadel i am stil getting this error what have i done wrongly.

[2020-05-19 14:03] dokkis commented on #164
might be related to https://github.com/react-native-community/react-native-cameraroll/pull/94 and https://github.com/react-native-community/react-native-cameraroll/issues/141.

Can anybody check if changing the library to use DCIM would fix the issue?

[2020-05-20 17:10] bartolkaruza commented on #174
fixed by #176

(unrelated, @dokkis you can let Github and semantic-release know that a PR fixes a particular issue by putting
[code]
on a line in the description of the first commit. Then this issue would be auto closed and a comment that it is included in release x is added)

[2020-05-20 17:10] #174 closed

[2020-05-20 18:03] dokkis commented on #174
@bartolkaruza thanks for the tip! I didn't knew that :)

[2020-05-21 07:39] bartolkaruza opened #182 "Deprecate `saveToCameraRoll`"
The `save` function was introduced to allow multiple save parameters without introducing breaking changes in the API. It allows for optional arguments in an object, instead of the argument array which is used by `saveToCameraRoll`.

`saveToCameraRoll` was left in the API to prevent introducing a breaking change. By deprecating it now in favor of `save`, we can remove it in the next major release.

[2020-05-21 07:51] bartolkaruza commented on #175
If you see the discussion in #178 I think the option to disable individual fields will solve this and other performance related issues.

[2020-05-21 07:52] #182 closed

[2020-05-21 07:56] bartolkaruza commented on #182
:tada: This issue has been resolved in version 1.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-05-21 08:01] bartolkaruza commented on #73
Fixed by #180

🎉 This PR is included in version 1.7.0 🎉

The release is available on:

npm package (@latest dist-tag)
GitHub release
Your semantic-release bot 📦🚀

[2020-05-21 08:01] #73 closed

[2020-05-21 08:04] bartolkaruza commented on #93
Closing as fixed, thanks for reporting

[2020-05-21 08:04] #93 closed

[2020-05-21 08:08] bartolkaruza commented on #95
Closing this as it seems to be a magnet for unrelated issues. The library appears to link automatically correctly on a clean project. Issues like the one above are related to project specific settings. If you feel that I'm missing something that's wrong specifically with @react-native-community/cameraroll please make a new issue and provide me with a minimal repro so we can investigate.

[2020-05-21 08:08] #95 closed

[2020-05-21 08:17] dokkis commented on #141
@bartolkaruza I read couple of issues and several complains that might be related to this. Do you know why the change was made in the first place and which device affects? Does it make sense having a parameter for Android only, e.g. useDCIMFolder as workaround?

[2020-05-21 08:36] bartolkaruza commented on #141
The change was reverted (temporarily) because the open question is if the saving to album still works in combination with the DCIM change. If we can confirm that saving to album still works as expected, then we can save to DCIM by default (without a flag). Do you have a spare cycle to test this?

[2020-05-21 08:54] dokkis commented on #141
@bartolkaruza I see if I can take a look tomorrow. In case we need the current folders to save in album, then eventually does it make sense use DCIM if no album is provided? Trying to get options upfront so I can eventually raise a PR depending on results of testing.

[2020-05-21 09:16] bartolkaruza commented on #141
In case it breaks some existing functionality, then a useDCIMFolder flag might be a good idea. For advanced tuning users can turn that on/off based on the device details to try and resolve those crashes. They would have to handle the no-album situation as needed in their apps. How does that sound?

[2020-05-21 09:18] bartolkaruza commented on #25
This is still open after #180 (which only implements file size), if someone wants to open a PR for adding the fileName, I'm happy to review.

[2020-05-22 09:57] bartolkaruza opened #184 "Deprecate `saveToCameraRoll` update types"
During a review of another PR I noticed that the types were not properly updated with deprecation notices. They should also all direct to `save`.

[2020-05-22 10:46] dokkis commented on #141
@bartolkaruza I try out few things.

Problem #1:
First of all there is a bug in the current handling of `type` param for Android in the save function. From doc it's either `video` or `photo`, but on implementation https://github.com/react-native-community/react-native-cameraroll/blob/master/android/src/main/java/com/reactnativecommunity/cameraroll/CameraRollModule.java#L133 it's checking over `mov

[2020-05-22 11:09] dokkis commented on #141
there is an additional problem, and doc is not correct:

`If the tag has a file extension of .mov or .mp4, it will be inferred as a video. Otherwise it will be treated as a photo. To override the automatic choice, you can pass an optional type parameter that must be one of 'photo' or 'video'.`

This is not true (at least for Android), it's inferred just looking at `type` param passed. So if you pr

[2020-05-22 13:35] scgough opened #186 "iOS - Large Files/Video - Can't save (to camera roll). [PHPhotosErrorDomain error -1]"
# Bug report
iOS - Photo's successfully save to camera roll but videos (or large files maybe?) do not.

_I'll give as much detail as I can at the moment_

## Summary
I call `path = await CameraRoll.save(path);` where `path` is a local path to a downloaded mp4 file.
The JS hands over to the Objective C side.

The code successfully reaches here with a populated `placeholder` object:
https://github.c

[2020-05-22 14:55] dokkis commented on #186
@scgough I am curious if await CameraRoll.save(localpath, { type: "video" }); make any difference. Can you please try it? Based on the type, looking at the code, two different methods are called.

[2020-05-22 15:07] scgough commented on #186
@dokkis I'll give that a try although stepping through the code it does look like it's following the video route already :/

[2020-05-22 15:16] scgough commented on #186
@dokkis to confirm it is calling the `creationRequestForAssetFromVideoAtFileURL` method (I tried to explicitly pass the `type` option).

As weird as it sounds I'm wondering if the fact this video is a portrait with dimensions 2160 × 4096 that the issue is occurring? Perhaps an iOS issue handling the file?
A landscape video of the same dimensions works without issue.

[2020-05-22 15:17] dokkis commented on #186
@scgough I see that in the JS package there is some autodetection based on the tag passed: https://github.com/react-native-community/react-native-cameraroll/blob/master/js/CameraRoll.js#L167 so probably that's why go into the video path.

[2020-05-22 16:11] dokkis commented on #186
is it a video that you recorder with the device or some video that you imported from somewhere else? Looking at the issue seems the latter. Still out of curiosity, have you replicated the same behaviour with a big video recorded from the device it self? Wondering if it's a size issue or some weird thing around the file downloaded remotely. Have you tried with different format? e.g. .mov, .mp4?

[2020-05-22 17:15] scgough commented on #186
@dokkis thanks. I’ll have a look at your suggested urls. If adding “.mov” to the path works I’ll be astounded and shaking my fist in Apples general direction.

It is a private video from Vimeo. The image dimensions seem to be ringing alarm bells for me. I don’t know why but this is a 20MB MP4 video, 4K but portrait. A landscape video similar in every way (encoding included) apart from the orientat

[2020-05-22 21:17] bartolkaruza commented on #141
Thanks @dokkis, great analysis! With regards to the open Redmi device I hope this will resolve it for those apps that don't use albums. I don't have a Redmi device, so it's a bit harder to test.

[2020-05-23 13:52] dokkis commented on #186
@scgough more than renaming would be interesting to check similar file, e.g. big 4k portrait in .mov format if they have same issues (I don't think renaming should make any difference honestly, I am more curious about format/codec mp4 vs mov). Since the native format that iOS shoot is .mov, wondering if it's an issues specifically with some .mp4 format more than a file size issue. Also 20MB is not

[2020-05-23 13:56] dokkis commented on #141
@bartolkaruza yeah I also don't have a Redmi to replicate, but looking at the above analysis it sounds a reasonable implementation, at least we bring the old implementation that saveToCameraRoll used to have before the album concept was introduced.

[2020-05-24 13:23] dokkis commented on #168
@bartolkaruza @noobvim I am trying to look into this improvement, I tried several method to generate or get existing thumbnail (only in Android for now):

Performance are observed on Xiaomi Mi A1.
1. ThumbnailUtils.extractThumbnail (around 70ms, this generated the thumbnail), could `always` return a base64 thumbnail
2. Images.Thumbnails.getThumbnail (around 10/20ms, should fetch an existing thumbn

[2020-05-25 19:18] victork9 commented on #152
yes, it is possible to get photos or videos with

CameraRoll.getPhotos({
            first: 20,
            assetType: 'Photos' || 'Video',
        }).then(r => {
           console.log("return of promisse" + JSON.stringnify(r))
          })

after return get the uri of your photo and pass with param of function

CameraRoll.deletePhotos(["file:///storage/emulated/0/Pictures/your_album/182ccd7b-c70

[2020-05-25 19:29] victork9 commented on #152
worked for me, deleting all photos of a album

CameraRoll.getPhotos({
                first: 200,
                assetType: 'Photos',
            })
                .then(r => {
                    const filter = r.edges.filter(d => d.node.group_name.includes("YOURALBUM"))
                    filter.map((item) => {
                        CameraRoll.deletePhotos([item.node.image.uri])

[2020-05-25 19:31] MrAlekhin commented on #152
Have you tried the video URL?

[2020-05-25 19:42] victork9 commented on #152
this library only deletes photos

the coment of archive typescript

Delete a photo from the camera roll or media library. photoUris is an array of photo uri's.

[2020-05-25 19:44] victork9 commented on #152
this library only deletes photos

the coment of archive typescript

Delete a photo from the camera roll or media library. photoUris is an array of photo uri's.

[2020-05-25 19:47] victork9 commented on #152
see the library https://github.com/itinance/react-native-fs maybe work

[2020-05-25 19:47] MrAlekhin commented on #152
In that case the answer is no, right? Videos cannot be removed. Is it possible to add the feature to backlog `CameraRoll.deleteVideos`?

[2020-05-25 22:34] victork9 commented on #152
I don't understand @MrAlekhin, the library itself says it is possible to delete a video I just saw, but when we use the method it doesn't work

[2020-05-26 10:16] #141 closed

[2020-05-26 10:20] bartolkaruza commented on #141
:tada: This issue has been resolved in version 1.7.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v1.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-05-26 10:23] bartolkaruza commented on #164
https://github.com/react-native-community/react-native-cameraroll/issues/141 has just been released in version 1.7.2

We suspect this issue may be resolved through that change, but I don't have a way to test on the specific devices that the issue occurs on. Can someone confirm if version 1.7.2 fixes this issue? @wibes

[2020-05-26 10:28] bartolkaruza commented on #179
Hi there, I'm not able to reproduce this. Could you help us out with a minimal reproduction repo?

[2020-05-26 10:35] bartolkaruza commented on #123
For reference:
https://forums.developer.apple.com/thread/123471

There is a lot of issues raised by iOS users for similar issue in the Skype app, Google Drive app etc.. There appears to be a suggested reinstall that fixed it for some users. Perhaps it requires a recompile of your app with a newer version of Xcode. Can someone try these two options on their app to see if either works?

[2020-05-26 10:37] bartolkaruza commented on #123
https://community.box.com/t5/Desktop-and-Mobile-Forum/Uploading-image-with-mobile-app-Default-file-extension-is-MOV/td-p/77250

[2020-05-26 10:42] bartolkaruza commented on #111
Closing this for now as `SDWebImage`, `react-native-fast-image` and `react-native-cameraroll` are aligned on the `ph://` uri.

[2020-05-26 10:42] #111 closed

[2020-05-26 10:47] bartolkaruza commented on #113
Hi, this issue has become a bucket for various linking issues. If you use expo, media-library is the logical default option there. This repo and issue list covers the standalone cameraroll library, which was extracted from React Native core. There appears to be an issue with linking on Android, where in some cases the package is not added correctly to the android native code, but I'm not able to r

[2020-05-26 10:47] #113 closed

[2020-05-26 10:51] #25 closed

[2020-05-26 15:01] paulmasters opened #188 "MediaStore.MediaColumns.DATA is deprecated"
# Question

MediaStore.MediaColumns.DATA   is deprecated but it is currently required to get file URIs for photos in external storage. Is there a plan for how to fix this?

Deprecation notice:
https://developer.android.com/reference/android/provider/MediaStore.MediaColumns#DATA

Usage:
https://github.com/react-native-community/react-native-cameraroll/blob/b777e2bc57c263524d4fbe9dd83b81b5078b3420/a

[2020-05-27 19:27] pribeh commented on #41
Is there any chance one of the maintainers can look at this issue? There's no way seemingly to sort by grouptype it seems.

[2020-05-27 23:58] pribeh opened #189 "getAlbums(uri) feature request"
It would come in handy, when replicating common album previews, to be able to return a video/image (uri) from an album with getAlbums. Returning the most recent media uri would probably suffice in most circumstances.

CameraRoll.getAlbums(params);

uri: {string} //uri of the most recent file in the album

![trending_x – 45@3x](https://user-images.githubusercontent.com/690883/83083675-bace4a00-a054

[2020-06-01 02:59] HauLuu opened #190 "[IOS] CameraRoll.save save duplicated images"
# Summary
CameraRoll.save save duplicated images on IOS but not Android.

## Environment info
  - Binaries:
    Node: 13.12.0
    Yarn: 1.22.4
    npm: 6.14.4
    Watchman: 4.9.0
  - npmPackages:
    react: 16.8.6 => 16.8.6
    react-native: 0.60.0 => 0.60.0
  - IDEs:
    Android Studio: 3.6 AI-192.7142.36.36.6308749
    Xcode: 11.4.1/11E503a - /usr/bin/xcodebuild

Library version: 1.7.2

## Repro

[2020-06-01 09:03] bartolkaruza commented on #41
@r0b0t3d @hsource @pxpeterxu @dokkis Looping you guys in hoping someone has a spare cycle to investigate this issue.

[2020-06-01 09:05] bartolkaruza commented on #75
related to #41

[2020-06-01 09:06] bartolkaruza commented on #190
Probably a duplicate of #75 . Let's try and work through a fix for #41 first and see if all of these other issues are side-effects of the same problem.

[2020-06-01 09:09] bartolkaruza commented on #188
@dokkis this looks similar to #174 to me. Any ideas about how we could handle this case?

[2020-06-01 09:25] bartolkaruza commented on #168
I really like the `getPhotoThumbnails` direction. Considering the UI pattern for thumbnails, most likely apps will retrieve many more thumbnails than actual photos, making the retrieving of photos an unnecessary load in those scenario's. Apps can then retrieve individual photos (potentially with slow metadata) through the already optimised `getPhotos` for the scenario's where they need those.

I s

[2020-06-01 09:28] bartolkaruza commented on #119
I'm closing this for now as it's likely an implementation issue on the app side, but I'm happy to reopen if more information is provided indicating a library bug.

[2020-06-01 09:28] #119 closed

[2020-06-01 09:29] bartolkaruza commented on #117
closing as duplicate of #72 (I guess :))

[2020-06-01 09:29] #117 closed

[2020-06-01 09:31] #12 closed

[2020-06-01 12:31] HauLuu commented on #190
Actually. I didn't use getPhoto method. I took a picture using react-native-camera. Then saved it using snippet above.

After that I opened the Photo App and saw the taken image was duplicated.

[2020-06-01 12:42] gran33 commented on #168
I think that `getPhotoThumbnails` isn't a good API.
Return the thumbnail `uri` for any use-case of `getPhotos`.
 The user will decide whether to use the thumbnail or the original photo.
In this way, the user doesn't need to re-ask the photos again.

[2020-06-02 09:55] mbDilepix opened #191 "getAlbums is not a function, is undefined"
Why when we want use getAlbums in version 1.7.2 with react native 62.0 the getAlbums function not exist ?

[2020-06-02 22:51] herysihn918 commented on #19
I have the same issue.
I am using react-native-view-shot and @react-native-community/cameraroll to capture the screenshot and save it on the external storage.
But I always get the permission denied error in Android. I have tried all the method above, but the same. Please help me.
Android version is 29.

[2020-06-02 23:01] herysihn918 opened #192 "Error: Permission denied at Object.promiseMethodWrapper [as saveToCameraRoll] (But Permission for 'write external storage' is granted)"
I have the issue.
I am using react-native-view-shot and @react-native-community/cameraroll to capture the screenshot and save it on the external storage.
But I always get the permission denied error in Android. I have tried all the method above, but the same.
I have checked the permission status with PermissionAndroid and it said 'granted'.
But I can't save the screenshot with the error: 'Permissi

[2020-06-03 00:36] aspectgfg opened #193 "Gif uploads lose animation data"
Uploading Gifs from camera roll with `ph:` uri's lose their animation data.

Dug into the code and found the issue is caused by [this commit](https://github.com/react-native-community/react-native-cameraroll/commit/c958493441edf622dbc320b9e1319298b8123481).

There really is no valid reason for the unconfigurable default to be a force conversion into jpeg, especially with todays rich mime landscape

[2020-06-03 06:05] mihaislobozeanu commented on #52
Hi,
The workaround was just for uploading the image with fetch, not for using it with RNFS or other library.

[2020-06-03 11:22] rumata2 commented on #123
I confirm that recompiling with newer version of XCode does not resolve the issue - the file names still get returned as Adjustments.plist BUT only for files edited in Photos app: for example if I take a screenshot, crop it and then save it to Photos, this is what camera roll would return as file name.

[2020-06-08 09:28] bartolkaruza commented on #190
Can you check that the picture is not there in the Photo App, before calling `Cameraroll.save`?

[2020-06-08 09:30] bartolkaruza commented on #168
Return the thumbnail uri for any use-case of getPhotos.
The user will decide whether to use the thumbnail or the original photo.
In this way, the user doesn't need to re-ask the photos again.

I agree that the API would be nicer from a theoretical point of view, but the performance hit is just too big for this trade off. The thumbnail needs to be generated, which consumes resources unnecessarily.

[2020-06-08 09:41] bartolkaruza opened #194 "Document Android request permissions"
This issue is made to keep track of adding the request for permissions that is needed on Android 29 to the documentation. The workaround mentioned on #19 describes in more detail what is required.

https://github.com/react-native-community/react-native-cameraroll/issues/19

[2020-06-08 09:46] bartolkaruza opened #195 "Document ph upload url workaround"
This issue was made to keep track of the workaround for uploading images from cameraroll from iOS to fetch. https://github.com/react-native-community/react-native-cameraroll/issues/52#issuecomment-549502272

[2020-06-10 00:38] HauLuu commented on #190
I'm so sorry for wasting your time. The root cause comes from my side. My app requires opening another application after taking a picture. That process somehow creates a duplicated image. There is nothing to do with react-native-cameraroll.

Truly sorry for wasting your time. :(

[2020-06-10 00:38] #190 closed

[2020-06-10 01:34] Jaeyeon2 commented on #142
thank you! i solved problem

[2020-06-10 13:56] MehmetDT opened #196 "Cant save video file (PHPhotosErrorDomain error -1.)"
# Question
Helloı i trying save .mp4 file from instagram my gallery. Android working fine but ios have some problem . Its giving me Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.) error. Can anybody help me please ?

[2020-06-11 03:32] kouariga commented on #186
I experienced a similar issue.

- iOS 13.5.1, iPadOS 13.5.1
- RN 0.62.2
- RN CameraRoll: 1.7.2

I tried to save a video that I recorded using react-native-camera (format: mov, quality: 1080p, codec: JPEG) in the camera roll. It succeeded on iPhone but failed on iPad giving the error `[Error: The operation couldn’t be completed. (PHPhotosErrorDomain error -1.)]`. Seeing @dokkis 's comment, I tried

[2020-06-11 22:56] satorusasozaki commented on #16
+1

[2020-06-12 14:18] EliSadaka opened #197 "Filtering by album title doesn't work on iOS"
# Bug report

## Summary

On iOS, filtering by album title using the `groupName` param doesn't work. Instead, it still returns results from all albums. The same code works correctly on Android.

## Environment info

`react-native info` output:

[code]

Library version: 1.7.2

## Steps to reproduce

1. Add a valid album title to the `groupName` param before passing the params object to the getPhoto

[2020-06-16 09:08] bartolkaruza commented on #190
@HauLuu No worries! Thanks for taking the time to open an issue, it helps us improve the library.

[2020-06-16 09:12] bartolkaruza commented on #197
Looks related to #41

[2020-06-16 09:15] bartolkaruza commented on #83
Should be fixed by #178

[2020-06-16 09:15] #83 closed

[2020-06-16 09:16] bartolkaruza commented on #193
Not sure if it's an exact duplicate, but it looks related to https://github.com/react-native-community/react-native-cameraroll/issues/16

[2020-06-16 09:17] bartolkaruza commented on #196
duplicate of #186

[2020-06-16 09:17] #196 closed

[2020-06-16 09:19] bartolkaruza commented on #192
Hi, there are workaround for this issue in #19 . You need to request permissions in the app, as well as declare them in Android 29.

We have an open issue to document this:
https://github.com/react-native-community/react-native-cameraroll/issues/194

Closing as duplicate of #19

[2020-06-16 09:20] bartolkaruza commented on #191
Hi there, this looks like a linking issue to me. Your app doesn't have the native code linked properly, for some reason.

[2020-06-16 09:27] bartolkaruza opened #198 "Document troubleshooting linking issues"
# Feature request

This issue is opened to keep track of the effort to document all the possible issues and solutions related to linking the library.

As part of this effort, we could overhaul the docs related to manual linking and point everyone to auto-linking by default and keep manual linking as a very last resort.

## Why it is needed

It looks like people run into problems related to linking

[2020-06-16 21:03] pribeh commented on #197
@bartolkaruza it appears to be a duplicate. Just to note, looks like our issue is resolved by specifying groupTypes: 'Album' when retrieving album photos as per @ZephyrFang's suggestion here:

https://github.com/react-native-community/react-native-cameraroll/issues/41#issuecomment-525970834

[2020-06-19 02:32] kiranjd commented on #194
I would like to take this up

[2020-06-19 03:18] kiranjd commented on #194
#201 PR resolves this @bartolkaruza

[2020-06-19 07:44] wxingheng commented on #19
@joseguerrerov will like to know if the permission function will be required for ios.
Also when I followed your procedure for android... I get something like this in return
content://media/external_primary/file/92336
And I cannot see the image in the android gallery ... will like to know if there is any other thing to do.

[2020-06-20 09:07] tvpranav opened #203 "I am getting around 100 Albums in my iPhone, Is there any option for pagination, sort or filter Albums."
CameraRoll.getAlbums({
      assetType: 'All',
    })
      .then(res => {
        this.setState({ album: res })
      })
      .catch((error) => {
        console.log(error.message)
      })

**Could you please help to solve this ?**

[2020-06-20 12:49] tvpranav opened #204 "Not getting system generated albums in my iPhone"
I am not getting system generated albums in my iPhone, like Favorites, Recent etc.

CameraRoll.getAlbums({
      assetType: 'All',
    })
      .then(res => {
        console.log('Albums.....................', res)
      })
      .catch((error) => {
        console.log(error.message)
      })

**Could you please help to to solve this ?**

[2020-06-20 14:05] bartolkaruza commented on #197
Ok, closing as duplicate for now. Let me know if there is specific case not covered by #41 and I'll reopen.

[2020-06-20 14:05] #197 closed

[2020-06-20 14:09] bartolkaruza commented on #19
@wxingheng There has been some effort made in documenting how to deal with this in #202 . Those doc changes are not merged yet, but the answer is in that PR.

[2020-06-20 14:24] bartolkaruza commented on #204
We are currently only returning the 'album' PHAssetCollectionType case. The 'generated' albums are of the 'smartAlbum' case: https://developer.apple.com/documentation/photokit/phassetcollectiontype.

Adding the additional case would be a small change here: https://github.com/react-native-community/react-native-cameraroll/blob/4da8310892cf2188ead33260c157682944edd7e9/ios/RNCCameraRollManager.m#L205

[2020-06-20 18:55] autumnlaneweb commented on #204
Thanks @bartolkaruza for reverting on this. By using your suggestion. I have changed that line with

`PHFetchResult<PHAssetCollection *> *const assetCollectionFetchResult = [PHAssetCollection fetchAssetCollectionsWithType:PHAssetCollectionTypeSmartAlbum subtype:PHAssetCollectionSubtypeAlbumRegular options:options];`

By this, Smart Albums are getting properly but not getting album wise photos with

[2020-06-20 18:59] tvpranav commented on #204
Thanks @bartolkaruza for reverting on this. By using your suggestion. I have changed that line with

`PHFetchResult<PHAssetCollection *> *const assetCollectionFetchResult = [PHAssetCollection fetchAssetCollectionsWithType:PHAssetCollectionTypeSmartAlbum subtype:PHAssetCollectionSubtypeAlbumRegular options:options];`

By this, Smart Albums are getting properly but not getting album wise photos with

[2020-06-21 13:07] Mavenic commented on #16
Any solution or workaround for this?

[2020-06-22 04:56] Mavenic commented on #193
Any solution or workaround ?

[2020-06-22 10:34] bartolkaruza commented on #204
To make both cases work, I think we would need to fetch both and merge the results

[2020-06-22 13:16] pribeh commented on #41
I can confirm @ZephyrFang and @tuantai0625 's points seem to be accurate about groupTypes: Album and SmartAlbum.

[2020-06-23 04:49] pyeonjaesik opened #206 "Can I get video thumbnail?"
Can I get video thumbnail?

To get thumbnail, I used "react-native-create-thumbnail". but It is a little cumbersome.

I want to get thumbnail only using " react-native-community".

[2020-06-23 05:52] bartolkaruza commented on #206
related to #168 , not closing as duplicate because video might need a specific implementation compared to images

[2020-06-23 05:53] bartolkaruza commented on #194
This is now fixed on master

[2020-06-23 05:53] #194 closed

[2020-06-23 06:00] bartolkaruza commented on #121
@albullington Are you still seeing this issue on the latest released version of cameraroll?

[2020-06-23 06:03] bartolkaruza commented on #115
We've updated the docs related to Android permissions from Android 29. There is an example of how you can/should request permission explicitly. Can you check that this issue is still there after you have requested the permission in the way described in the latest docs?

[2020-06-24 02:16] aspectgfg commented on #193
@Mavenic I had to use patch package and undo the commit. All you have to do is delete those lines.
https://www.npmjs.com/package/patch-package Patch package if you need.

[2020-06-24 02:24] mars-lan commented on #192
@bartolkaruza please reopen this issue as it's a real issue due to the introduction of [Scoped storage](https://developer.android.com/training/data-storage#scoped-storage) in Android 10 (API 29).

@herysihn918 one workaround meanwhile is by setting `android:requestLegacyExternalStorage` to `true` in your AndroidManifest.xml as described in https://developer.android.com/training/data-storage/use-ca

[2020-06-24 07:52] bartolkaruza commented on #192
@mars-lan I'm going to need more details about what cases causes this issue for you. Is this happening on specific devices? Others have successfully been able to save photos on Android 29 by explicitly requesting the permissions. Can you provide me with a minimal reproduction?

[2020-06-24 08:10] bartolkaruza commented on #193
I found the time to look into this in more detail and @aspectgfg you are completely right, that commit overrides the mime type completely. I propose we revert this commit in a major version, which solves the problem for you guys and keeps whoever is relying on jpeg from breaking. Then we can add a configurable feature to override mime type in a minor version following that.

[2020-06-24 08:18] thekevinbrown commented on #121
Not sure without getting in and having a look. :-/

[2020-06-24 08:20] bartolkaruza commented on #193
Looping in @maxaggedon for a heads up that the next major version will no longer default to JPEG on upload

[2020-06-24 08:21] #193 closed

[2020-06-24 08:25] bartolkaruza commented on #192
Linking in this other issue, that could be related: https://github.com/react-native-community/react-native-cameraroll/issues/164

[2020-06-24 08:26] bartolkaruza commented on #193
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@react-native-community/cameraroll)
- [GitHub release](https://github.com/react-native-community/react-native-cameraroll/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket

[2020-06-24 08:44] bartolkaruza commented on #123
At the native level there could be some solutions in this: https://stackoverflow.com/questions/32687403/phasset-get-original-file-name

[2020-06-24 14:46] mars-lan commented on #192
@bartolkaruza This is readily reproducible on all Android 10 devices if you set `targetSdkVersion` to `29` as mentioned here:  https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage. Another workaround is to set `targetSdkVErsion` to `28` or lower.

[2020-06-24 14:47] maxaggedon commented on #193
@bartolkaruza duly noted, thanks for the heads up !

[2020-06-25 05:56] bartolkaruza commented on #192
Thank you @mars-lan , I fully get the problem now. The proper fix for this is not immediately obvious to me yet, let me give this some thought.

[2020-06-26 09:38] thomaschaaf opened #208 "iOS crash when filtering by groupName with shared album"
# Bug report

## Summary

When trying to getPhotos with a shared album the function crashes.

[code]

## Environment info

iOS 13

`react-native info` output:

[code]

Library version: 4.0.0

## Steps to reproduce

1. Create a shared album 'ABC'
2. Run the code:

[code]

Describe what you expected to happen:

1. Get photos and don't crash.

## Reproducible sample code

      const cameraAlbums = a

[2020-06-26 12:26] Mavenic commented on #193
@aspectgfg Thanks for the update, but it's still not working on ios

[2020-06-29 20:32] ckasek commented on #125
@bartolkaruza This was re-broken due to the changes in #159.

With 1.4.1, if I take a picture with react-native-camera and pass the URI to CameraRoll.save(), it keeps all of the exif data.
With the latest version, the exif data is lost.

[2020-06-30 06:11] bartolkaruza commented on #193
@Mavenic this issue is particularly about uploading. So if a GIF is already present on the device, then uploaded, the code that was reverted forces that image to be a JPEG, losing it's mime type and the GIF related data. The saving issue is separate and tracked in #16

[2020-06-30 06:12] bartolkaruza commented on #192
@herysihn918 can you share why you closed this issue? I don't think we've resolved this yet from the library side. I'm going to re-open it so we don't lose track of it.

[2020-06-30 08:54] paulmasters commented on #188
I would propose to use content URIs. It's really a bug in the RN / Fresco code that these are not displayed.
ie as mentioned above
long id = media.getLong(idIndex); Uri photoUri = ContentUris.withAppendedId(MediaStore.Images.Media.EXTERNAL_CONTENT_URI, id);
I can put a PR together if you like?

[2020-06-30 10:01] bartolkaruza commented on #188
@paulmasters that sounds good to me! We have to wait for the change from Fresco through to React Native to land before we can merge and release it here though.

[2020-07-02 20:52] khattab93 commented on #186
Did any one solve this silly error

[2020-07-02 21:05] scgough commented on #186
I’ve not got any further I’m afraid although I think @dokkis is on the right track with the encoding of the video file.

[2020-07-03 05:51] ZhouShisong opened #210 "Unable to save GIF on iOS devices，and images cannot be saved via links on Android devices."
# Feature request

We have some links to web images，We hope to save the image to the album of the phone through the link. Unable to save GIF on iOS devices，and images cannot be saved via links on Android devices.  We use react-native-cameraroll (4.0.0) now.

### Code sample

RNCCameraRollManager.m

[code]

### Remark

I've only fixed it on iOS devices.

[2020-07-06 13:17] tvpranav opened #211 "App is getting crash while reading photos in iOS."
👋 Hi!

I have found one issue in my crash logs.

**RNCCameraRollManager.m - Line 393
__49-[RNCCameraRollManager getPhotos:resolve:reject:]_block_invoke_2 + 393**

My iOS App is getting crash while getting photos and the code is:

`[assets addObject:@{
        @"node": @{
          @"type": assetMediaTypeLabel, // TODO: switch to mimeType?
          @"group_name": currentCollectionName,
          @

[2020-07-07 07:35] Rotemy opened #212 "When photo/video has rotation the imageSize property will be wrong on Android"
Hi, I'm using the latest version 4.0.0 and when I use `CameraRoll.getPhotos` to fetch images and videos with rotation (90 degrees) the width and height will be opposite.

Here is the info when using ffprob on a video file:

[code]

I'm getting in the image properties width 1920 and height 1080 which ok I guess, but there is no way for me to know the video is rotated by 90 degrees.

Any workaround

[2020-07-08 10:56] bartolkaruza commented on #212
I'm not aware of a workaround of the top of my head, we will probably need to include the orientation separately.

[2020-07-08 14:17] dokkis commented on #195
hey @bartolkaruza , I was looking into this issue as well. The ph-upload might work depending in the context you use it, but for example if you want to use RNFetchBlob will not work. As also another user mentioned: `The workaround was just for uploading the image with fetch, not for using it with RNFS or other library.`

Using the asset-library protocol trick I don't is a good idea, not even to do

[2020-07-08 14:58] dokkis commented on #168
@gran33 I agree having in getPhotos would be better but performance-wise is not a good idea.

@bartolkaruza I might coming back to this. A `getPhotoThumbnails` might be trickier to implement when something fails for some reason, what do you return and how to handle partial failures? To keep it simple for now, we can improve it later or add another API later, I am thinking a simple `getPhotoThumbna

[2020-07-08 15:25] dokkis commented on #211
@tvpranav can you explain better where does it break and which commit needs to be reverted?

[2020-07-08 15:41] tvpranav commented on #211
@dokkis It is breaking while getting photos in iPhone X (iOS version 13.5), May be any media is broken/corrupt in phone. It is working on iPhone XR (iOS version 13.5).

Error on line in **RNCCameraRollManager.m** where we set image object @"image": @{}.

[2020-07-08 16:11] dokkis commented on #211
@tvpranav are you able to try older version of the library to check if there is any that works and doesn't break to identify the change that bring this bug?

[2020-07-08 16:54] dokkis commented on #211
@tvpranav are you able to try out older versions of the library, to understand which version bring the problem in?

[2020-07-09 09:43] na5tyk opened #213 "Error after install"
## Summary
After install `@react-native-community/cameraroll` I have error while start project:
[code]

## Environment info

[code]

[2020-07-09 09:48] #213 closed

[2020-07-09 14:58] jairrc commented on #152
I am trying to delete photos from my device. I created the routine that lists the photos, but when I try to delete, passing the URI, nothing is deleted. The URI is in this format: "content: // media / external / images / media / 36257"

How I should to proceed, so that it stays in this format?
"file: ///storage/emulated/0/Pictures/your_album/182ccd7b-c705-429b-896b-496ad20211dd.jpg"

[2020-07-09 15:03] victork9 commented on #152
@jairrc
usually this type("file: ///storage/emulated/0/Pictures/your_album/182ccd7b-c705-429b-896b-496ad20211dd.jpg") is in the cache and not in the photo library, you will only be able to delete files that are saved in the library

[2020-07-09 16:08] jairrc commented on #152
Got it. But doing as shown in the documentation is not deleting the images. Looking at the example you mentioned on 5/25, I thought it had to be passed in that format. I don't know what to do to make it really work. Documentation always has poor examples that don't work. :(

![image](https://user-images.githubusercontent.com/1241980/87063129-528e8e80-c1e4-11ea-8d03-5a10857535fe.png)

[2020-07-10 19:20] jairrc opened #214 "How do I delete photos from my camera roll?"
How do I delete photos from my camera roll? The documentation example doesn't work. Does anyone have any example of code that you have used, that really does the deletion, please?

This is my Code:

  **deletePhotos = () => {
    const photos = [...this.state.photos];
    photos.map((item) => {
      CameraRoll.deletePhotos([item.image.uri]);
    })
  }**

**This is the content of the URI:**
![ima

[2020-07-11 02:32] k1115 commented on #45
@ErtugrulBEKTIK

Excuse me, could u share the lines of code how to sort photos?
I've not found the solution yet. :pray:

[2020-07-13 17:31] daksh23 commented on #65
but what is the meaning if type can we write type as photo or iamge or only type

[2020-07-13 19:00] killderycoelho commented on #52
This work from me!!!

`if (this.state.photo) {
                bodyData.push({
                    name: 'photo',
                    filename: this.state.photo.fileName,
                    type: this.state.photo.type,
                    data: Platform.OS === "android" ? RNFetchBlob.wrap(this.state.photo.uri) : RNFetchBlob.wrap(this.state.photo.origURL),
                    uri: Platform.OS ===

[2020-07-14 14:48] barak109 commented on #157
@bartolkaruza Still happen to me
 "@react-native-community/cameraroll": "^4.0.0",

[2020-07-14 22:56] DiogoAbu commented on #214
The uri you are using has the `content` protocol, which is like a link, a shortcut to the actual file (the file may not event exist).
The `deletePhotos()` expects an uri with the `file` protocol, the actual path.

You can use `stat` from `react-native-fs` to get the actual path. It will throw an error if the file does not exist.

[2020-07-15 15:47] tauqeer81 opened #216 "Using fromTime filter on Android SDK 29 returns empty edges"
# Bug report

## Summary

On **Android SDK 29** `CameraRoll.getPhotos({ first: 10, assetType: 'Photos', groupTypes: 'All', fromTime: 1584356434595, //5 hours back toTime: moment().valueOf(), })` returns empty `edges`. However it works perfect on **Android SDK 28**.

Here's my code

`    const params = {
      first: 10,
      assetType: 'Photos',
      groupTypes: 'All',
      fromTime: 1584356434

[2020-07-15 16:36] RomanKwok opened #217 "[Unhandled promise rejection: TypeError: null is not an object (evaluating '_nativeInterface.default.saveToCameraRoll')]"
Hi

`const getCameraRollPermissionAsync = async (uri) => {
    if (Constants.platform.ios) {
      const { status } = await Permissions.askAsync(Permissions.CAMERA_ROLL);
      if (status !== 'granted') {
      } else {
        CameraRoll.save(uri);
      }
    } else {
      CameraRoll.save(uri);
    }
  };

  const pickImage = async () => {
    try {
      let result = await ImagePicker.launchCa

[2020-07-18 09:29] sidhanshumonga commented on #192
@bartolkaruza Any update on this? I have been struggling with this issue for a while.

[2020-07-27 06:57] aprilmintacpineda commented on #192
Still having this error on a newly created app.

[2020-07-28 02:16] joypatel04 commented on #195
Hey @dokkis

Any plans to implement the above use case?

Thank you,
Joy Patel

[2020-07-30 08:57] chj-damon commented on #157
still happen to me. "@react-native-community/cameraroll": "^4.0.0",

[2020-08-01 11:27] pyeonjaesik opened #218 "IOS - only get uri which start with ph://..."
I want to get uri which start with file:///.

because I want to set video uri and upload that file.

but uri which start with ph:/// have many errors

[2020-08-05 09:57] marlti7 commented on #52
why close this

[2020-08-06 18:03] netdown commented on #208
Same, 4.0.0 is instable.

Incident Identifier: 616C8AE9-A9F7-4ECF-8BBE-6B9ED050416F
Hardware Model:      iPhone11,8
Process:             FotologusMobile [5006]
Path:                /private/var/containers/Bundle/Application/F36473D8-9153-41C8-8072-569221E81873/FotologusMobile.app/FotologusMobile
Identifier:          com.fotologus.fotologusmobile
Version:             9 (3.0.7)
AppStoreTools:

[2020-08-08 03:32] costr commented on #217
Hopefully you've figured this out but I just ran into the same issue and stumbled upon your issue post. After some trial and error I found that I needed to destroy my build folder, for Android, and rebuild/redeploy it completely. Once I did that everything worked as I would expect.

[2020-08-10 12:40] divyanshunegi opened #219 "[Android] Images from device local storage are not rendering.(In some devices)"
## Description
When I try to show a image from local storage using
<Image source={{ uri: 'file:///path' }} style={{width:100, height:100}} resizeMethod='resize' />
it is working fine in IOS but in case of android, in some devices the images are not showing at all, the view is taking the space in the view but no image is visible. devices In which it did not work OnePlus 5T and Google Pixel.

## Rea

[2020-08-10 14:12] aanklewicz92 commented on #219
I have the same problem. For me it works on OnePlus 3T, but doesn't on Xiaomi Mi Note 10 Lite. My best guess for now is it's related to Android version. My OnePlus runs Android 9, while Xiaomi Android 10.

[2020-08-10 15:05] divyanshunegi commented on #219
I fixed this issue by adding this """"android:requestLegacyExternalStorage="true""""" in AndroidManifest.xml. The issue is related to android SDK version not sure which one.

<application
        android:largeHeap="true"
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"

[2020-08-11 07:53] BuddhaNag12 commented on #115
I'm facing the same issue on android 10 devices
[Error: Album Directory not created. Did you request WRITE_EXTERNAL_STORAGE?

is there any solution...?

[2020-08-11 08:14] BuddhaNag12 commented on #192
I'm facing the same problem as i tried to asked permission manually but seems it takes permission but couldn't able to write to external storage

[2020-08-11 08:22] nhohb commented on #142
You should run `npx pod-install` first, it looks like this
![image](https://user-images.githubusercontent.com/48668114/89874775-81829080-dbe6-11ea-9e0c-7092ceacbdae.png)

[2020-08-11 15:01] paddy57 opened #220 "Could not get video metadata for file"
When I tried to access gallery videos I'm getting following error
 E/unknown:ReactNative: Could not get video metadata for file:///storage/......

I'm accessing only videos using following
CameraRoll.getPhotos({
            first: 30,
            assetType: 'Videos',})

It should return 30 videos but i got 28 videos
And two error logs saying   E/unknown:ReactNative: Could not get video metadata fo

[2020-08-12 06:15] paddy57 commented on #220
Resolve.
It was the two bad mp4 files, which was not playable was present in my gallery videos. Once I deleted them I get all 30 videos
![Screenshot_20200812-114032_Gallery](https://user-images.githubusercontent.com/22058036/89981257-32456a00-dc91-11ea-8a6a-380230d72028.jpg)

[2020-08-12 06:15] #220 closed

[2020-08-12 11:48] code8decode commented on #19
https://github.com/react-native-community/react-native-cameraroll/issues/219#issuecomment-671411010

[2020-08-12 11:48] code8decode commented on #192
https://github.com/react-native-community/react-native-cameraroll/issues/219#issuecomment-671411010

[2020-08-12 11:54] mars-lan commented on #192
See my comment above for workaround: https://github.com/react-native-community/react-native-cameraroll/issues/192#issuecomment-648866758

[2020-08-18 04:36] Isaacwhyuenac commented on #211
I am experiencing similar issue too.
[code]

When I write code to access the iPhone 11/ 11Pro Simulator (iOS 13.5) to access the CameraRoll, it crashes the App and return to the iPhone home screen.

[2020-08-18 09:31] mbDilepix opened #221 "No image getPhotos with after parameter in Ios"
Hello, I try to select image with the follow code, but it work only with android :+1:

let listPictures = await CameraRoll.getPhotos({
      first: 100,
      after: "100",
      assetType: 'Photos',
      groupTypes : 'All'
    })

In ios listPictures is empty. Do you know where it come from ?

[2020-08-18 11:57] #221 closed

[2020-08-18 13:40] esinanturan commented on #195
Hi @dokkis did you able to implement it I really need that feature and looking forward for it thanks

[2020-08-19 16:15] MichalAsh58 opened #222 "CameraRoll .save failed with `Permission denied` error on Android"
I'm having the same problem. I have permission for writing in storage and yet- while running "CameraRoll.save(data.uri)" I get an error- Permission denied.
Would like to get your help with that issue.

my code:

    import React, {PureComponent} from 'react';
    import {
      StyleSheet,
      Text,
      TouchableOpacity,
      View,
      PermissionsAndroid,
    } from 'react-native';
    impo

[2020-08-20 10:48] moh3n9595 commented on #157
still happen to me. "@react-native-community/cameraroll": "^4.0.0"

[2020-08-24 13:22] dnsgusttavo commented on #192
I was having the same problem with android 10 and API level 29. Adding android: requestLegacyExternalStorage = "true" on my AndroidManifest.xml solves my problem.

[2020-08-24 13:25] tommynordli commented on #208
Same issue here
[code]

[2020-08-25 17:55] Marciomacdev commented on #157
still happen to me. "@react-native-community/cameraroll": "^4.0.0"

[2020-08-26 15:12] fabioplaka commented on #222
Same problem to me. Any solution please?

[2020-08-26 19:00] mayur-shelar commented on #222
@fabioplaka @MichalAsh58 I too was facing the same issue. [This](https://github.com/react-native-community/react-native-cameraroll/issues/219#issuecomment-671411010) #219 solved the issue for me.

[2020-08-27 01:32] ngxu commented on #210
Thanks, this method works well.

[2020-08-27 08:16] MichalAsh58 commented on #222
I added "android:requestLegacyExternalStorage="true"" but still getting the same error.
Any other idea?

[2020-08-27 08:24] fabioplaka commented on #222
Me too

[2020-08-27 08:38] fabioplaka commented on #222
I tried on emulator and everything works fine, but on device not

[2020-08-27 09:05] codepenguinx0 commented on #115
Tried adding android:requestLegacyExternalStorage="true" to Android Manifest but it didn't fix the issue on both emulator and real device. Does Anyone have an update for this issue?

[2020-08-27 09:14] MichalAsh58 commented on #222
Which API version do you use in your android emulator?
And did the edit of AndroidManifest.xml fixed it all for you?

[2020-08-27 09:14] codepenguinx0 commented on #115
I fixed this by NOT adding type:"photo"

[2020-08-27 09:17] fabioplaka commented on #222
Firstly I installed last version of the library. The API version is 29, and I added **android:requestLegacyExternalStorage="true"** at AndroidManifest.xml.
I think you should try from beginning, delete the app from device or emulator, clean build folder and run again

[2020-08-27 09:19] MichalAsh58 commented on #222
thanks. what library do you mean when you say "last version"?

[2020-08-27 09:21] fabioplaka commented on #222
https://github.com/react-native-community/react-native-cameraroll

[2020-08-27 09:28] #222 closed

[2020-08-28 07:51] lucipacurar commented on #115
I'm having the same problem, and the workaround works just fine. The issues happens only on Android 10, 9 and 11 are working ok without the workaround.